<footer>
  <div class="container-fluid d-md-block d-none p-4 text-uppercase pb-5 mb-5">
    <div class="row">
      <div class="col">
        <p style="line-height: 1.2em; font-size: small">
          &copy; 2020 <br />
          DANCASSAB SA DE CV
        </p>
      </div>
      <div class="col bg text-right">
        <p style="line-height: 1.2em; font-size: small">
          <a class=" " href="/terms" target="_blank">{{
            "navbar.terms" | translate
          }}</a
          ><br />
          <a class="" href="/privacy" target="_blank">{{
            "navbar.privacy" | translate
          }}</a>
        </p>
      </div>
    </div>
  </div>
</footer>
