
.slide-wrapper{
   display: flex;
   height: 100vh;
   width: 100vw;
   justify-content: center;
   align-items: center;

   img{
      max-height: 70vh;

      @media only screen and (max-width:600px){
         width: 90%;
         margin-left: 5%;
      }
   }
   img:nth-child(2){

      @media only screen and (max-width:600px){
         display: none;
      }

   }
}

.mobile{
  display: none;
  @media only screen and (max-width:600px){
    display: block;
 }
}

.web{
  @media only screen and (max-width:600px){
    display: none;
 }
}
