<div class="row-mode">
  <!-- Start Desktop Nav -->
  <app-nav-desktop
    class="col-lg-3 col-xl-2 d-none d-md-block px-md-4"
  ></app-nav-desktop>
  <!-- End Desktop Nav -->
  <!-- Start Content -->
  <div
    class="col-lg-9 col-xl-8 text-left mt-5-mobile"
    style="font-size: 1.15rem"
  >
    <div class="row">
      <div class="col-12 py-4">
        <img
          src="
https://cdn.shopify.com/s/files/1/0266/7072/7265/files/HANNAH-FEED1.jpg?v=1606156349"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <h1 class="sinergia text-center">
          DANCASSAB <br />
          VOICES
        </h1>
      </div>
      <div class="col-md-6 py-4">
        <h1 class="sinergia text-center">
          HANNAH <br />
          PARK
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="times">
          We are so fortunate to speak with and learn from such inspiring women
          for the Voices series, each divinely brilliant and talented in their
          own right, who so openly share their journeys from budding dreams to
          present-day realities. A common thread which ties these extraordinary
          women together is the profound cultural and familial influences that
          have shaped their perspectives creatively, emotionally, and mentally.
          Values are formed, and character builds by applying these invaluable
          lessons to their own experiences. Eventually, this develops the
          instincts which sharpen senses in preparation for physical decisions.
        </p>
        <p class="times">
          Instinctively knowing when it is time to pivot is a mastered life
          skill many have yet to learn. It takes unwavering confidence and
          complete honesty to admit when you are no longer fulfilled and ready
          to let go and allow curiosity to lead you down another path. For
          Hannah Park, pivoting is an inherited matriarchal trait. Born into a
          creative family in Seoul, Korea, the fashion designer, who founded the
          loungewear label Oori Ott in 2018, began manifesting her creative path
          at the young age of eight - decidedly after witnessing her
          mother&#x02019;s artistic evolution from sculptor to fashion designer.
        </p>
        <p class="times">
          Having lived on three continents, testing New York City&#x02019;s
          corporate fashion gauntlet, a move to Los Angeles to begin Oori Ott,
          meaning &ldquo;our clothes&rdquo; in Korean, thus started her
          independent exploration in design through a decidedly more purposeful
          lens. Simultaneously finding enjoyment in creating mood boards
          highlighting the gems of futuristic interior design rabbit hole
          discoveries from eras-past, Hannah launched HIDA Modern, a vintage
          furniture sourcing business with florist Ida Lamberton.
        </p>
        <p class="times">
          Approaching each venture with consciousness remains at the core of her
          purpose. As so expertly stated in a message apropos for the masses,
          &ldquo;Seems rhetorical to say, but we don&#x02019;t need any more
          waste on this earth, so as a person designing or providing a product,
          it&#x02019;s very important to consider the effects of creating the
          product as well as its existence, longevity, and function.&rdquo;
        </p>
        <p class="times">Touch&eacute;, Hannah. Keep turning.</p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <img
          src="
https://cdn.shopify.com/s/files/1/0266/7072/7265/files/HANNAH-FEED2.jpg?v=1606156362
"
          class="img-fluid"
        />
        <figcaption
          class="times small py-4"
          style="line-height: 1.2em; font-weight: 200"
        >
          <i>Hannah</i> wears the <i>Loretta</i> jacket at home in August.
          <br />
          Photo captured via FaceTime by <i>Dana Boulos</i> for DANCASSAB.
        </figcaption>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 px-3 py-4 text-center mr-auto ml-auto">
        <h5>
          &lsquo;I love when I can create or provide something that can inspire
          a positive emotion but also fulfill a functional need.&#x02019;
          <span class="text-uppercase" style="white-space: nowrap">
            &#x02014; HANNAH PARK.
          </span>
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>
          Could you share a bit about your background and how your education,
          interests, and journey lead you to the present day? 
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">HP:</span>
          I was born in Seoul, Korea but moved to Sydney, Australia at a very
          young age then ended up in the US. Both my parents are very creative
          and artistic so from a very young age, I knew I wanted to be an artist
          of some sort. My mom was a sculptor before becoming a house wife. Then
          when my parents divorced, and she became a single mom, she became a
          fashion designer. I wanted to follow in her footsteps and dreamed of
          being a fashion designer since I was 8 years old. When I was 8, I
          would draw designs of denim capris with beaded tassels fringed crop
          tees and tube tops (this was the late 90s). My interest in fashion
          design led me to move to NYC. I went to FIT and worked for a few
          companies when I graduated (Calvin Klein, Gap, Vince). I quickly
          realized that I wasn&apos;t fulfilled working at these corporate
          fashion companies. I was feeling stuck and needed to create something
          of my own, so I took the leap to create my own brand, OORI OTT.
        </p>
        <p>
          <span class="qa"> </span>
          When I moved to LA to start OORI OTT, I found myself becoming more and
          more interested in interior design. I found so many inspiring vintage
          furniture pieces in LA and needed an outlet to share this. My friend
          Ida and I started our IG @HIDA_modern so that we had a place to upload
          all things interior that we were inspired by. Our mood page then
          slowly and organically evolved into a business of selling curated
          vintage home goods.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>
          Does your heritage or upbringing play a significant role in your
          creative capacities? 
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">HP:</span>
          Yes, it definitely does. I have always been been drawn to traditional
          Korean typography, clothing, textiles, stationary, accessories, and
          food and object presentation. I take a lot of inspiration from
          &ldquo;Han-Bok&rdquo; designs and the art of &ldquo;Bojagi&rdquo;
          wrapping.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>
          As the Founder &amp; Creative Director of OORI OTT and half of HIDA
          modern curated vintage home goods, what are your main areas of
          expertise?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">HP:</span>
          I can&apos;t say that I am an expert at anything, but I love when I
          can create or provide something that can inspire a positive emotion
          but also fulfill a functional need. The way that translates through
          OORI OTT is designing clothes that make the wearer feel excited by
          what they are wearing but also feel comfortable and can wear it for a
          lifetime. The way it translates through HIDA, is providing objects to
          create a home or environment that takes you to your own dreamland but
          is also useful and useable every day.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 py-4 px-3">
        <img
          src="
https://cdn.shopify.com/s/files/1/0266/7072/7265/files/HANNAH-FEED3.jpg?v=1606156374
"
          class="img-fluid"
        />
        <figcaption
          class="times small py-4"
          style="line-height: 1.2em; font-weight: 200"
        >
          <i>Hannah</i> wears the <i>Loretta</i> jacket at home in August.
          <br />
          Photo captured via FaceTime by <i>Dana Boulos</i> for DANCASSAB.
        </figcaption>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>
          Which era of design are you influenced by most? Are you more partial
          to textures or shapes? 
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">HP:</span>
          At the time of my first collection, I was inspired most by the glam,
          disco, postmodern colorful 70s-80s. This era wasn&#x02019;t shy about
          decadence and colors which was really alluring to me and I&apos;ve
          always been attracted to 80s art deco architecture because I love the
          softness of round shapes and curved lines.
        </p>
        <p>
          <span class="qa"> </span>Now, a different part of the 80s inspires me.
          The 80s had a lot of fascination with technology and the future. I
          love looking back to movies and imagery of the future from the eyes of
          the 80s and find my inspiration coming from this now. Movies like
          Bladerunner really inspire me in terms of fashion and architecture.
          So, there&#x02019;s been a shift from the glitzy and colorful 70s-80s
          to the techno dystopian future 80s.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>
          As more consumers search for some level of sustainability and
          cause-based initiative built into the brands and products they
          acquire, can you tell us more about how you personally relate to this
          and why it was important to include in both business models?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">HP:</span>
          In terms of aesthetic design in our decade, everything is an
          adaptation, almost nothing is entirely original. Most of fashion and
          interior design is cyclical and based on nostalgia. The only new thing
          to invent is how can you make this thing from the past have a new more
          sustainable life with more impact.
        </p>
        <p>
          <span class="qa"> </span>
          As mentioned before, functionality has always been just as important
          to me as the aesthetic of design. Sustainability and functionality go
          hand in hand. If something is not sustainable, it eventually expires,
          and if it expires it doesn&#x02019;t function and turns to waste.
          Seems rhetorical to say but we don&#x02019;t need any more waste on
          this earth, so as a person designing or providing a product,
          it&#x02019;s very important to consider the effects of creating the
          product as well as its existence, longevity, and function.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 px-3 py-4 text-center mr-auto ml-auto">
        <h5>
          &lsquo;Sustainability and functionality go hand in hand. If something
          is not sustainable, it eventually expires, and if it expires it
          doesn&#x02019;t function and turns to waste. Seems rhetorical to say,
          but we don&#x02019;t need any more waste on this earth, so as a person
          designing or providing a product, it&#x02019;s very important to
          consider the effects of creating the product as well as its existence,
          longevity, and function.&#x02019;

          <span class="text-uppercase" style="white-space: nowrap">
            &#x02014; HANNAH PARK.
          </span>
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <img
          src="
https://cdn.shopify.com/s/files/1/0266/7072/7265/files/IMG_5233.jpg?v=1606158993
"
          class="img-fluid"
        />
        <figcaption
          class="times small py-4"
          style="line-height: 1.2em; font-weight: 200"
        >
          Photo: Courtesy of <i>Mayan Toledano</i> for <i>Oori Ott</i>.
        </figcaption>
      </div>
      <div class="col-md-6 py-4 px-3">
        <img
          src="
https://cdn.shopify.com/s/files/1/0266/7072/7265/files/IMG_5232.jpg?v=1606158961
"
          class="img-fluid"
        />
        <figcaption
          class="times small py-4"
          style="line-height: 1.2em; font-weight: 200"
        >
          Photo: Courtesy of <i>Mayan Toledano</i> for <i>Oori Ott</i>.
        </figcaption>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>
          We love your modern take on 70s leisurewear with OORI OTT. What
          inspired you to launch the brand? What does the name mean? 
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">HP:</span>
          I really wanted to create outfits that were casual and comfortable
          enough to wear around the house but special enough to make a statement
          on a night out. I was really inspired by Michelle Pfeiffer&#x02019;s
          character in Scarface. She would wear these simple slips out on the
          night and looked so glam and stunning but also looked so effortless
          and comfy like she could just wear them straight to bed.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>
          When did the idea for HIDA modern come about? How did you and your
          partner Ida start to accumulate inventory? What do you think sets you
          apart from other vintage curators?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">HP:</span>
          HIDA modern started as a mood board. It was a place for Ida and I to
          dump all of our interior related images we had been hoarding. We both
          would find really great pieces of furniture we wanted but had nowhere
          to put them (I lived in a studio at the time) so we thought we should
          start sharing our finds with people on our IG.
        </p>
        <p>
          <span class="qa"> </span>
          Ida and I are really drawn to vintage pieces that look like
          they&#x02019;re from the future. They can be from any era. At the time
          we started selling vintage furniture, most of the L.A. based sellers
          were selling specifically mid-century items and not so much postmodern
          pieces so that helped set us apart.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>
          This year has been challenging in many ways. How do you navigate
          uncertainty? 
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">HP:</span>
          I&#x02019;m very lucky and grateful that I have all the essentials for
          living a great life. I have a place to live, don&#x02019;t have to
          worry about food, I have really supportive friends and family, and
          I&#x02019;m healthy so any kind of uncertainty that comes my way, I am
          fortunate enough to handle and I welcome it. Ever since I quit my
          corporate fashion job and started on my own ventures, my life and
          schedule has been uncertain. I think a bit of uncertainty can be a
          good thing because it forces you to reevaluate at every turn and
          really figure out what works for you.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <img
          src="
https://cdn.shopify.com/s/files/1/0266/7072/7265/files/HANNAH-STORY4.jpg?v=1606156387
"
          class="img-fluid"
        />
        <figcaption
          class="times small py-4"
          style="line-height: 1.2em; font-weight: 200"
        >
          <i>Hannah</i> wears the <i>Loretta</i> jacket at home in August.
          <br />
          Photo captured via FaceTime by <i>Dana Boulos</i> for DANCASSAB.
        </figcaption>
      </div>
      <div class="col-md-6 py-4 px-3">
        <img
          src="
https://cdn.shopify.com/s/files/1/0266/7072/7265/files/HANNAH-STORY5.jpg?v=1606156401
"
          class="img-fluid"
        />
        <figcaption
          class="times small py-4"
          style="line-height: 1.2em; font-weight: 200"
        >
          <i>Hannah</i> wears the <i>Loretta</i> jacket at home in August.
          <br />
          Photo captured via FaceTime by <i>Dana Boulos</i> for DANCASSAB.
        </figcaption>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>
          What keeps you motivated? Has your perspective changed on certain
          areas of your life? 
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">HP:</span>
          My mom immigrated to the U.S. as a single mom and worked very hard to
          offer me the life I had. She completely fulfilled the role of 2
          parents and gave me more than I ever needed so remembering and
          appreciating that always keeps me motivated.
        </p>
        <p>
          <span class="qa"> </span>
          Most recently, my perspective on my work life balance has changed.
          Being Korean and an immigrant, I was taught that work is #1 and you
          had to make sacrifices to succeed in work. But work took over and I
          wasn&#x02019;t making time for my friends or even for myself. This
          year I realized that my life was very unbalanced and teetering but
          balance is the key to a happy life and success doesn&#x02019;t just
          come from your work. It&#x02019;s important to not take yourself too
          seriously and to have fun with everything you do.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>
          Is there anything you want people to know about you that you
          haven&#x02019;t shared before?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">HP:</span>
          I love drawing mazes and I&#x02019;m deathly afraid of butterflies.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 px-3 py-4 text-center mr-auto ml-auto">
        <h5>
          &lsquo;This year I realized that my life was very unbalanced and
          teetering but balance is the key to a happy life and success
          doesn&#x02019;t just come from your work.&#x02019;
          <span class="text-uppercase" style="white-space: nowrap">
            &#x02014; HANNAH PARK.
          </span>
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <img
          src="
https://cdn.shopify.com/s/files/1/0266/7072/7265/files/HANNAH-STORY6.jpg?v=1606156414
"
          class="img-fluid"
        />
        <figcaption
          class="times small py-4"
          style="line-height: 1.2em; font-weight: 200"
        >
          <i> 80s Deco Tall Boy </i> Dresser at <i>Hida Modern</i>.
        </figcaption>
      </div>
      <div class="col-md-6 py-4 px-3">
        <img
          src="
https://cdn.shopify.com/s/files/1/0266/7072/7265/files/HANNAH-STORY7.jpg?v=1606156435
"
          class="img-fluid"
        />
        <figcaption
          class="times small py-4"
          style="line-height: 1.2em; font-weight: 200"
        >
          <i>80’s Twin</i> Side Tables <i>Made by Lane</i> at
          <i>Hida Modern</i>.
        </figcaption>
      </div>
    </div>

    <div class="row py-4 text-center">
      <div class="col-md-12 py-4">
        <h4>HANNAH'S LOS ANGELES</h4>
        <p>
          <span class="sinergia text-uppercase">
            You feel most yourself here:</span
          ><br />
          The beach.
        </p>
        <p>
          <span class="sinergia text-uppercase"> Favorite neighborhood: </span
          ><br />
          Koreatown
        </p>
        <p>
          <span class="sinergia text-uppercase"> Favorite restaurant: </span
          ><br />
          Sushi Gen, Mh Zh, Meals by Genet
        </p>
        <p>
          <span class="sinergia text-uppercase">
            Heavy traffic playlist rotation: </span
          ><br />
          Lifetime - Romy
        </p>
        <p>
          <span class="sinergia text-uppercase"> In your free time you: </span
          ><br />
          Cut my toenails
        </p>
        <p>
          <span class="sinergia text-uppercase">
            You find the most inspiration from: </span
          ><br />
          Movies
        </p>
        <p>
          <span class="sinergia text-uppercase">
            A hidden gem in Los Angeles:  </span
          ><br />
          Kenneth Hahn state recreation center. My favorite place for a picnic
          under a tree. It has acres of empty rolling hills
        </p>

        <p>
          <span class="sinergia text-uppercase">
            Dancassab Jacket of choice: </span
          ><br />
          LORETTA
        </p>

        <img
          src="
https://cdn.shopify.com/s/files/1/0266/7072/7265/files/LORETTA_AZUL_02.jpg?v=1606156452
"
          class="img-fluid"
        />

        <h4 class="sinergia text-uppercase">LORETTA</h4>
        <h4>THE ICONS</h4>
        <p>
          <button
            type="button"
            style="
              background-color: #fff;
              border: solid;
              font-style: italic;
              border-width: 2px;
              padding: 10px 50px;
            "
            data-ripple-color="dark"
          >
            <a href="{{ url }}" class="times"> Shop Here </a>
          </button>
        </p>
      </div>
    </div>
  </div>
  <!-- End Content -->
</div>
