<div class="row-mode">
  <!-- Start Desktop Nav -->
  <app-nav-desktop
    class="col-lg-3 col-xl-2 d-none d-md-block px-md-4"
  ></app-nav-desktop>
  <!-- End Desktop Nav -->
  <div class="col-md-9 col-xl-8 text-left">
    <!-- START OF CONTENT-->

    <div class="row">
      <div class="col-sm-6 p-3 my-5 text-center">
        <img
          class="img-fluid"
          src="https://www.dancassab.com/assets/images/ourstory1.jpg"
          style="width: 90%; height: 85vh; object-fit: cover"
        />
      </div>
      <div class="col-1 col-sm-1 p-3 my-5">
        <h5
          class="sinergia mt-5 text-uppercase"
          style="transform: rotate(180deg); writing-mode: vertical-lr"
        >
          {{ "story.first" | translate }}
        </h5>
      </div>
      <div class="col-11 col-sm-5 p-3 my-5 text-center">
        <img
          class="img-fluid"
          src="https://www.dancassab.com/assets/images/ourstory2.jpg"
          style="width: 90%; height: 85vh; object-fit: cover"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-lg p-3 my-5 text-center">
        <img
          src="https://www.dancassab.com/assets/images/campaign1.jpg"
          style="width: 90%; height: 85vh; object-fit: cover"
        />
      </div>
      <div class="col-lg d-flex align-items-center">
        <div>
          <h4 class="sinergia text-uppercase">
            {{ "story.second" | translate }}
          </h4>
          <p>
            {{ "story.second-p" | translate }}
          </p>
          <p>
            {{ "story.second-p2" | translate }}
          </p>
          <hr
            style="
              display: block;
              border-top-style: inset;
              border-top-width: 1px;
              width: 30px;
              text-align: left;
            "
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg p-3 my-5 d-flex align-items-center">
        <div>
          <h4 class="sinergia text-uppercase">
            {{ "story.third" | translate }}
          </h4>
          <p>
            {{ "story.third-p" | translate }}
          </p>
          <p>
            {{ "story.third-p2" | translate }}
          </p>
          <hr
            style="
              display: block;
              border-top-style: inset;
              border-top-width: 1px;
              width: 30px;
              text-align: left;
            "
          />
        </div>
      </div>
      <div class="col-lg p-3 my-5 text-center">
        <img
          src="https://www.dancassab.com/assets/images/campaign2.jpg"
          style="width: 90%; height: 85vh; object-fit: cover"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-lg p-3 my-5 text-center">
        <img
          src="https://www.dancassab.com/assets/images/people.png"
          style="width: 90%; height: 85vh; object-fit: cover"
        />
      </div>
      <div class="col-lg p-3 my-5 d-flex align-items-center">
        <div>
          <h4 class="sinergia">{{ "story.fourth" | translate }}</h4>
          <p>
            {{ "story.fourth-p" | translate }}
          </p>
          <p>
            {{ "story.fourth-p2" | translate }}
          </p>
          <hr
            style="
              display: block;
              border-top-style: inset;
              border-top-width: 1px;
              width: 30px;
              text-align: left;
            "
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg p-3 my-5 d-flex align-items-center">
        <div>
          <h4 class="sinergia">{{ "story.fifth" | translate }}</h4>
          <p>
            {{ "story.fifth-p" | translate }}
          </p>
          <hr
            style="
              display: block;
              border-top-style: inset;
              border-top-width: 1px;
              width: 30px;
              text-align: left;
            "
          />
        </div>
      </div>
      <div class="col-lg p-3 my-5 text-center">
        <img
          src="https://www.dancassab.com/assets/images/craftmanship.jpg"
          style="width: 90%; height: 85vh; object-fit: cover"
        />
      </div>
      <div class="row">
        <div class="col-lg p-3 my-5 text-center">
          <img
            src="https://www.dancassab.com/assets/images/story_last.jpg"
            style="width: 90%; height: 85vh; object-fit: cover"
          />
        </div>
        <div class="col-lg p-3 my-5 d-flex align-items-center">
          <div>
            <h4 class="sinergia">{{ "story.sixth" | translate }}</h4>
            <p>
              {{ "story.sixth-p" | translate }}
            </p>
            <hr
              style="
                display: block;
                border-top-style: inset;
                border-top-width: 1px;
                width: 30px;
                text-align: left;
              "
            />
          </div>
        </div>
      </div>

      <!-- END OF CONTENT-->
    </div>
  </div>
</div>
