<div class="row-mode">
  <!-- Start Desktop Nav -->
  <app-nav-desktop
    class="col-lg-3 col-xl-2 d-none d-md-block px-md-4"
  ></app-nav-desktop>
  <!-- End Desktop Nav -->
  <div class="col-md-9 col-xl-8 text-left mt-5-mobile">
    <!-- START OF CONTENT-->
    <div class="mb-5">
      <h4 class="sinergia mb-4">MÉXICO</h4>
      <p>
        <span class="sinergia" style="font-size: 1.25em"> DANCASSAB </span>
        <br />
        MONTE ATHOS 155, VIRREYES, LOMAS DE CHAPULTEPEC, CDMX, MÉXICO 11000 +52
        55 5202 1542
      </p>
      <p>
        <span class="sinergia" style="font-size: 1.25em"
          >SAKS FIFTH AVENUE
        </span>
        <br />
        AVENIDA PROLONGACIÓN VASCO DE QUIROGA 3800, SANTA FE, CDMX, MÉXICO 05109
      </p>
      <p>
        <span class="sinergia" style="font-size: 1.25em"
          >PALACIO DE HIERRO POLANCO </span
        ><br />
        AVENIDA MOLIÈRE 222, POLANCO, CDMX, MÉXICO 11550
      </p>

      <p>
        <span class="sinergia" style="font-size: 1.25em">
          PALACIO DE HIERRO PERISUR </span
        ><br />
        ANILLO PERIF. 4690, JARDINES DEL PEDREGAL DE SAN ÁNGEL, COYOACÁN, 04500,
        CDMX, MEXICO
      </p>
    </div>
    <div class="mb-5">
      <h4 class="sinergia mb-4">UNITED STATES</h4>
      <p>
        <span class="sinergia" style="font-size: 1.25em">
          BERGDORF GOODMAN </span
        ><br />
        754 5TH AVE, NEW YORK, NY 10019, USA
      </p>
    </div>
    <div class="mb-5">
      <h4 class="sinergia mb-4">ONLINE STORES (WORLDWIDE SHIPPING)</h4>
      <p>
        <span class="sinergia" style="font-size: 1.25em"> THE RESET </span
        ><br />
        <a href="https://theresetagency.net" target="_blank"
          >THERESETAGENCY.NET</a
        >
      </p>
      <p>
        <span class="sinergia" style="font-size: 1.25em"> VASQUIAT </span><br />
        <a href="https://vasquiat.com" target="_blank">VASQUIAT.COM</a>
      </p>
      <p>
        <span class="sinergia" style="font-size: 1.25em"> SI COLLECTIVE</span>
        <br />
        <a href="https://si-collective.com" target="_blank"
          >SI-COLLECTIVE.COM</a
        >
      </p>
      <p>
        <span class="sinergia" style="font-size: 1.25em"> SEEZONA</span> <br />
        <a href="https://seezona.com" target="_blank">WWW.SEEZONA.COM</a>
      </p>
    </div>

    <div class="mb-5">
      <h4 class="sinergia mb-4">SALES INQUIRIES</h4>
      <p>
        <span class="sinergia text-uppercase" style="font-size: 1.25em">
          For all sales inquiries please contact Sarah Wacks at </span
        ><br />
        <a
          href="mailto:sarah@deckcollective.com"
          target="_blank"
          class="text-uppercase"
          >sarah@deckcollective.com</a
        >
      </p>
    </div>
    <!-- END OF CONTENT-->
  </div>
</div>
