<div class="row-mode">
  <!-- Start Desktop Nav -->
  <app-nav-desktop
    class="col-lg-3 col-xl-2 d-none d-md-block px-md-4"
  ></app-nav-desktop>
  <!-- End Desktop Nav -->
  <!-- Start Content -->
  <div
    class="col-lg-9 col-xl-8 text-left mt-5-mobile"
    style="font-size: 1.15rem"
  >
    <div class="row">
      <div class="col-12 py-4">
        <img
          src="https://cdn.shopify.com/s/files/1/0266/7072/7265/files/Coromoto_Atencio_Portrait.jpg?v=1609171889"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <h1 class="sinergia text-center">
          DANCASSAB <br />
          VOICES
        </h1>
      </div>
      <div class="col-md-6 py-4">
        <h1 class="sinergia text-center">
          COROMOTO <br />
          ATENCIO
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="times">
          The process of weaving and crafting stories sits at the core of my
          creative journey: it drives my curiosity and informs my ideas, shapes
          my notions, and transforms my emotions. I am the founder of Studio
          Futuro Consulting, a New York-based creative and strategic fashion
          consultancy at the intersection of visual communications, voice,
          people, and purpose. Specialized in brand building, development, and
          rebranding for start-ups, emerging, and established brands&mdash;an
          independent advisory where the assemblage of ideas &#x0FB02;ows
          alongside the strategic criteria. Studio Futuro came to life out of a
          personal and genuine desire to create, discover and reignite concepts
          with the long-lasting strategy of the human touch: through intuition
          and substance, processes, people, gestures, and meaningful
          collaborations. My philosophy lays on a 360&ordm; approach that taps
          into the core of intention setting up the groundwork for a clear and
          sustained path forward.
        </p>
        <p class="times">
          These transformative times have crystallized a new approach to
          examination defined by both an individual and collective industry
          responsibility to reassess the way we consume and produce, share and
          connect; the way we deepen the conversation across racism and
          representation, structural inequalities, our impact on nature, and the
          value of the creative expression. To elevate this &lsquo;Alone
          Together&#x02019; notion into an &lsquo;Individual Collective&#x02019;
          purpose based on trust, respect, education, empathy, and thoughtful
          exchange. As long as we believe in the authenticity of the stories we
          tell, we will always have a role to play.
        </p>
        <p class="times">
          With these photographs, I wanted to shed light to the city I love, the
          place I call home, New York. To all of those who continue to work
          tirelessly to keep the city&#x02019;s heart beating. from small
          businesses to cultural, iconic and ecological assets. New York
          City&#x02019;s reopening feels almost like a rebirth.
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <img
          src="https://cdn.shopify.com/s/files/1/0266/7072/7265/files/Coro_1_IMG_3187.jpg?v=1603984951"
          class="img-fluid"
        />
        <figcaption
          class="times small font-italic py-4"
          style="line-height: 1.2em; font-weight: 200"
        >
          I have lived in Greenwich Village&#x02019;s 9th Street for the past 9
          years. I have found a family around my neighborhood, I feel I belong.
          Bigelow Chemist is one of America&#x02019;s oldest
          apothecary&#x02019;s, nested at the heart of the village.
        </figcaption>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 px-3 py-4 text-center">
        <h5>
          &lsquo;I have always been fond of storytelling, spoken and unspoken,
          it has always interested me how words and image collide and spark a
          certain kind of feeling, emotion.&#x02019;
          <span class="text-uppercase" style="white-space: nowrap">
            &mdash; Coromoto Atencio
          </span>
        </h5>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>We are so honored to have you share a
          window into your imagination and creative process. Could you share a
          bit about your background and how your education, interests and
          journey have led you to where you are present day? 
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">CA:</span> From an early age my parents instilled in
          us a sense of appreciation and sensibility towards the arts and all
          things creative&mdash;they encouraged us to be curious, to seek
          deeper. I was born in Venezuela in the late 70&#x02019;s during the
          country&#x02019;s economic and cultural bonanza. The country where I
          grew up welcomed people from all walks of life. It built itself out of
          the beauty of contrast.
        </p>
        <p>
          <span class="mr-5 pr-5 sinergia small"> </span>
          I have always been fond of storytelling, spoken and unspoken, it has
          always interested me how words and image collide and spark a certain
          kind of feeling, emotion. I also grew up with this love for fashion
          magazines; since I can remember I&#x02019;d dive into every single
          page. My mother had these wonderful clothes, and I use to spend hours
          distilling a garment to the smallest details, from the color of the
          stitch to the woven label; my father has this innate appreciation for
          quality, for the long lasting.
        </p>
        <p>
          <span class="mr-5 pr-5 sinergia small"> </span>
          Looking back, moving to New York enlarged my inner creative dialogue,
          and it also deepened my nostalgia. When I became independent, I felt I
          wanted to say and do things in a certain way, not knowing exactly how.
          Today I can say that my imagination &#x0FB02;ows catching up with the
          memories to birth something new, and in the process, I get to
          &#64257;nd a new piece of myself by discovering someone
          else&#x02019;s.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>Growing up in Venezuela, what are some
          values and traditions that you always carry with you?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">CA:</span> I grew up harvesting this deep love for my
          country—and this sense of identity intensiﬁed when I left home. The
          smells, people, landscapes, ﬂavors, the endless summers; the
          understanding that quality lays in the processes, that respect starts
          with each one of us. I carry with me that the truly extraordinary lays
          in the ordinary.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>Does your Latin American heritage have a
          significant influence on you creatively?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">CA:</span> Immensely. It keeps me grounded and it
          reminds me of my worth. Having appreciation for our roots is directly
          linked with our sense of humanity. But I am also a New Yorker heart
          and soul. New York has this mesmerizing capacity to love you back.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <img
          src="https://cdn.shopify.com/s/files/1/0266/7072/7265/files/coro_2.jpg?v=1603985211"
          class="img-fluid"
        />
        <figcaption
          class="times small font-italic py-4"
          style="line-height: 1.2em; font-weight: 200"
        >
          The Guggenheim Museum reopened its doors on September 9th after an
          unprecedented 7 months of closure. I visited the museum with my dear
          friend Michel Heredia, who also helped me tour the Dixie around the
          city.
        </figcaption>
      </div>
      <div class="col-md-6 py-4 px-3">
        <img
          src="https://cdn.shopify.com/s/files/1/0266/7072/7265/files/coro_3.jpg?v=1603985245"
          class="img-fluid"
        />
        <figcaption
          class="times small font-italic py-4"
          style="line-height: 1.2em; font-weight: 200"
        >
          Jacqueline Kennedy Onassis Reservoir at Central Park. A gift to so
          many New Yorkers during these extraordinary times. A window to the
          unbreakable spirit of nature.
        </figcaption>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>With more Latin American brands emerging
          onto a global scale in recent years, what significant attributes do
          you feel they best exemplify?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">CA:</span> As Latin Americans we are bind by our
          region’s abundant wealth of natural resources and the rich and diverse
          history of our culture&mdash;a bond that also comes with a sense of
          duty. The Latin American brands raising the bar today share a common
          interest anchored in the creation and manufacture of products that are
          socially and environmentally committed—brands who have an intention
          towards being better by doing better are those who best exemplify the
          uniqueness and beauty of our region.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>You have an unparalleled ability to
          personify and actualize the vision and voice of brands in such an
          authentic way. Which career milestones or life experiences have
          prepared you most for immersive projects such as these?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">CA:</span>
          I grew up in a family of artistry and intellect, my parents
          prioritized hard work and substance. After graduating from Parsons, I
          had the opportunity to work at Style.com (former Online Home for Vogue
          and W) under the extraordinary mentorship of Candy Pratts Price. Her
          immeasurable talent, decisiveness and vision, together with her
          constant quest for the exceptional, sharpened and challenged my
          perspective. Working with Candy meant that there was no half nor easy
          way, nothing relied on the surface. If you were there you had to
          believe, and you had to be ready to dive deep. My time at Inditex was
          also quite a unique experience. I was there when Zara was particularly
          small in scale and awareness in the U.S. The size and structure of the
          subsidiary allowed me to move fluidly across disciplines, gaining
          robust insight and a holistic vision. I credit these two opposite yet
          strongly intertwined experiences, and my own values, to my immersive,
          methodical and personalized approach.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>How do you draw boundaries between your own
          space, growth, and purpose while taking on deeply personal work?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">CA:</span> It is not an easy process and I am
          constantly learning. Consulting is as complex as it is rewarding. You
          get to tap on someone else&#x02019;s universe aiming to stimulate
          their potential. There is undoubtedly a strong bond that shapes as the
          project takes form, the objectives and client evolve, hopefully
          feeling empowered. It&#x02019;s like whispering. There will always be
          a piece of me in my work, but with every new experience comes a new
          sense of freedom, of learning to let go.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 px-3 py-4 text-center">
        <h5>
          &lsquo;Looking back, moving to New York enlarged my inner creative
          dialogue, and it also deepened my nostalgia. When I became
          independent, I felt I wanted to say and do things in a certain way,
          not knowing exactly how.&#x02019;
          <span class="text-uppercase" style="white-space: nowrap">
            &ndash; Coromoto Atencio
          </span>
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <img
          src="https://cdn.shopify.com/s/files/1/0266/7072/7265/files/Coro_5.jpg?v=1603985957"
          class="img-fluid"
        />
        <figcaption
          class="times small font-italic py-4"
          style="line-height: 1.2em; font-weight: 200"
        >
          There is certain uniqueness about New York that can only be found
          around traditional small neighborhood spots. The familiarity, the
          sense of community, the magic of its people. They are part of the
          identity of the city. O CAFE is the beloved Brazilian-inspired coffee
          shop of my neighborhood, and a second family to me. Like so many other
          small businesses, O CAFE has been hit hard by the pandemic. After
          great efforts to stay opened, the shop remains one of the most beloved
          spots of the village.
        </figcaption>
      </div>
      <div class="col-md-6 py-4 px-3">
        <img
          src="https://cdn.shopify.com/s/files/1/0266/7072/7265/files/Coro_6.jpg?v=1603986376"
          class="img-fluid"
        />
        <figcaption
          class="times small font-italic py-4"
          style="line-height: 1.2em; font-weight: 200"
        >
          One of New York&#x02019;s most iconic institutions, The Metropolitan
          Museum, reopened its doors on August 28 after six-month coronavirus
          lockdown. Beyond its status, what it houses and its collections, the
          museum is part of people&#x02019;s lives, of the community.
        </figcaption>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>We were lucky to work with you on our
          rebranding several years ago and wouldn&#x02019;t be where we are
          today without the result of that exercise. Looking back, what do you
          consider the most poignant aspect of the discovery?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">CA:</span> Openness, trust and honesty. I met Daniela
          at a time where she was ready to expand her vision, to look beyond her
          creative expression and into her soul. I came in to collect the pieces
          that made her story, her own. By diving deep into her world, the
          opportunities arose as if they were waiting to be unlocked&mdash;she
          was ready to see what was already there. The mastery of the craftsmen
          meticulously stamped on every jacket, bringing their artistry front
          and center through Ana Georgina&#x02019;s portraits. The moment we
          started to remove the noise and let the garments speak. The exercise
          revealed underserved attributes across purpose, visual expression,
          narrative&#x02026;It gave Daniela the space to recognize the
          overpowering and seize the opportunity to reconcile with her own
          voice. Distilling and reassembling the values behind Dan Cassab was
          fundamental to set up the paths for evolution.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>The work you do touches each facet of a
          brand&#x02019;s business &ndash; from your writing and visual
          narratives to its branding and positioning - which part of the process
          do you feel most connected to and/or proud of? Or does it vary for
          each project?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">CA:</span>My eye tends to gravitate to the cinematic
          narrative of the visual process&mdash;perhaps that&#x02019;s where it
          all starts to unfold. After all I do have a strong appreciation for
          fashion and for the process of image making. Through the intelligence
          phase I immerse myself into the client, brand or idea to carve a
          discovery process that births the concept. I vividly recall referring
          to this fundamental creative phase of my work as a
          &lsquo;discovery&#x02019;, I felt very close to me. Each brand and
          story is unique in attributes and in needs. This tailored perspective
          allows for each project to be approached with a blank canvas, unbound
          of template and preconceived notions; to dive into a brand with an
          outsider perspective with an internal sensibility is the path to
          something long lasting and honest.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>You mention a collective responsibility
          across our industry to become more aware of our impact. What actions
          should brands and people be taking to examine their own influence on
          issues such as climate change and social justice?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">CA:</span>As I said before each brand is unique in
          story, structure and priorities, yet the capacity to evolve and
          examine our actions is something we all share as individuals, in
          business and in life. I can only speak from experience having worked
          in both small- and large-scale companies: the work starts from within,
          there is no formula and it starts with people. We, as in brands, live
          in this perpetual urge to share and to communicate, and although
          having a platform does expand our perspectives, it is about aligning
          what we communicate to what we internally cultivate. Having the
          intention to reduce our footprint starts from within, we reevaluate
          our processes, reset our priorities and educate ourselves on how to
          incorporate sustainable practices. The work that we do as individuals
          to move the needle forward across social, environmental and cultural
          spectrums will impact our collective perspective and sense of
          accountability. We live in a world of open access, there is little to
          no reason not to be in tune with times, to evolve, grow and transform.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <img
          src="https://cdn.shopify.com/s/files/1/0266/7072/7265/files/coro_4.jpg?v=1603985896"
          class="img-fluid"
        />
        <figcaption class="times small font-italic py-4">
          With gratitude to all the public transportation workers that kept the
          city moving forward.
        </figcaption>
      </div>
      <div class="col-md-6 py-4 px-3"></div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>To what extent does this form of
          consciousness play a role in areas of your own life? 
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">CA:</span>I am focused on working with projects with
          a sense of purpose that resonate with my values, prioritizing quality
          over quantity. I need to love what I do in order to create honest
          work. I am constantly learning, and I remain open to my most
          vulnerable self.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span> Who or what would you say has impacted you
          the most?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">CA:</span> My family. I discover the language of love
          from them, over and over.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>When do you feel most yourself and at
          peace? 
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">CA:</span>Lately by the sea. I have been in New York
          throughout the pandemic, and I have seen the city transform. I have
          been going to a beach called Fort Tilden since I moved to New York
          &#64257;fteen years ago. It&#x02019;s beautiful and free. The sound of
          the sea rocks me to a deep restorative sleep. It &#64257;lls me with
          hope
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>How do you navigate the unknown, anxieties
          and fear? 
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">CA:</span>Dancing the waves, through highs and lows.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 px-3 py-4 text-center">
        <h5>
          &lsquo;There will always be a piece of me in my work, but with every
          new experience comes a new sense of freedom, of learning to let
          go.&#x02019; &mdash;
          <span class="text-uppercase" style="white-space: nowrap"
            >Coromoto Atencio
          </span>
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 py-4">
        <img
          src="https://cdn.shopify.com/s/files/1/0266/7072/7265/files/Coromoto_Atencio_Portrait.jpg?v=1609171889"
          class="img-fluid"
        />
        <figcaption class="times small font-italic py-4">
          Coromoto Atencio wears the Dixie jacket in New York City.
        </figcaption>
      </div>
    </div>
    <div class="row py-4 text-center">
      <div class="col-md-12 py-4">
        <h4>COROMOTO'S NEW YORK</h4>
        <p>
          <span class="sinergia text-uppercase">
            Favorite shop in the city: </span
          ><br />
          &lsquo;MADAME MATOVU VINTAGE&apos; in the West Village
        </p>
        <p>
          <span class="sinergia text-uppercase">
            Best conversation with a stranger: </span
          ><br />
          A strange conversation...
        </p>
        <p>
          <span class="sinergia text-uppercase"> Favorite restaurant: </span
          ><br />
          KUBEH, Middle Eastern restaurant in Greenwich Village
        </p>
        <p>
          <span class="sinergia text-uppercase"> Favorite cafe: </span><br />
          O CAFE in Greenwich Village
        </p>
        <p>
          <span class="sinergia text-uppercase"> In your free time you: </span
          ><br />

          we are born free. It is the notion of time that constraints us from
          being free.
        </p>
        <p>
          <span class="sinergia text-uppercase">
            You find the most inspiration from: </span
          ><br />
          the mere feeling of being inspired. When I am passionate about
          something&#x02026;I forget everything else.
        </p>
        <p>
          <span class="sinergia text-uppercase">
            One secret to living in NYC: </span
          ><br />
          Living in NYC
        </p>

        <p>
          <span class="sinergia text-uppercase"> Jacket of choice: </span><br />
          DIXIE
        </p>
        <img
          src="https://cdn.shopify.com/s/files/1/0266/7072/7265/files/dixiehueso_a1b456b6-76e4-42c1-a0b3-f830fc001a60.png?v=1605021751"
          class="img-fluid"
        />

        <h4 class="sinergia text-uppercase">DIXIE</h4>
        <h4>Icons Collection</h4>
        <p>
          <button
            type="button"
            style="
              background-color: #fff;
              border: solid;
              font-style: italic;
              border-width: 2px;
              padding: 10px 50px;
            "
            data-ripple-color="dark"
          >
            <a href="{{ url }}" class="times"> Shop Here </a>
          </button>
        </p>
      </div>
    </div>
  </div>

  <!-- End Content -->
</div>
