<div class="row-mode">
  <!-- Start Desktop Nav -->
  <app-nav-desktop
    class="col-lg-3 col-xl-2 d-none d-md-block px-md-4"
  ></app-nav-desktop>
  <!-- End Desktop Nav -->
  <!-- Start Content -->
  <div class="col-md-9 col-xl-8 text-left justify-items-center">
    <!-- START OF CONTENT-->

    <div class="container text-left" style="font-size: 1.25em">
      <div class="row">
        <div class="col-12 py-4">
          <img
            src="
                https://cdn.shopify.com/s/files/1/0266/7072/7265/files/CHARLOTTE_PORTADA.jpg?v=1612376775
"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <h1 class="sinergia text-center">
            DANCASSAB <br />
            VOICES
          </h1>
        </div>
        <div class="col-md-6 py-4">
          <h1 class="sinergia text-center">
            CHARLOTTE <br />
            KIDGER
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="times">
            Charlotte Kidger is a London based UK Maker. Kidger graduated from
            Leeds College of Art and Central Saint Martins and has a background
            in Colour and Material Design. Her practice is led with a hands-on
            approach to investigating how industrial waste materials can be
            reprocessed and transformed into sculptural and functional objects.
            As an experimental material-led designer her work is driven by the
            urge and curiosity to transform often unwanted and valueless
            materials into desirable and functional objects.
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <img
            src="

                https://cdn.shopify.com/s/files/1/0266/7072/7265/files/CHARLOTTE-1A.jpg?v=1612373340
                "
            class="img-fluid"
          />
          <figcaption
            class="times small py-4"
            style="line-height: 1.2em; font-weight: 200"
          >
            <i>Charlotte</i> wears the <i>Floyd</i>.
          </figcaption>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 px-3 py-4 text-center mr-auto ml-auto">
          <h5>
            &#8216; I have been influenced by local waste materials I have
            sourced here that maybe I wouldn&#8217;t have otherwise come across.
            &#8217;
            <span class="text-uppercase" style="white-space: nowrap">
              &#8212; CHARLOTTE KIDGER.
            </span>
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>
            What are your earliest memories of creative output?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span>
            When I was around 12 my nan taught me how to knit. She used to be a
            textile designer and would knit a lot of my clothes for me. I think
            her creativity was passed down to me as well as from my Dad who was
            also very good and sketching and painting.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>
            Have you always been interested in sculpture as an art form?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span>
            I became more aware and into sculpture during my Masters at Central
            Saint Martins. Prior to this I was a printed textile designer /
            surface designer so worked more with soft materials. It was during
            my MA I transitioned to harder materials and then looked at
            sculpture as a way of communicating the materials into 3D forms.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>
            Has growing up in the UK greatly affected work? How did it shape
            your aesthetic?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span>
            I have been influenced by local waste materials I have sourced here
            that maybe I wouldn&#8217;t have otherwise come across. My aesthetic
            has subconsciously been shaped by marrying the languages of
            industrial and classical architecture not necessarily associated
            with the UK. I wouldn&#8217;t say I have been influenced by anything
            that iconically British though.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <img
            src="
                https://cdn.shopify.com/s/files/1/0266/7072/7265/files/CHARLOTTE-ARTE-4.jpg?v=1612373338
                           "
            class="img-fluid"
          />
          <figcaption
            class="times small py-4"
            style="line-height: 1.2em; font-weight: 200"
          >
            <i>Orange Side Table</i> by <i>Charlotte Kidger</i>.
          </figcaption>
        </div>
        <div class="col-md-6 py-4 px-3">
          <img
            src="
                https://cdn.shopify.com/s/files/1/0266/7072/7265/files/CHARLOTTE-ARTE-3.jpg?v=1612373338
                "
            class="img-fluid"
          />
          <figcaption
            class="times small py-4"
            style="line-height: 1.2em; font-weight: 200"
          >
            <i>Green Side Table</i> by <i>Charlotte Kidger</i>.
          </figcaption>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>
            Has living in London had an impact your post-grad work?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span>
            I would say I have been given great opportunities by galleries and
            design festivals that take place here. The exposure and support have
            impacted my work through giving me a platform to continue developing
            my practice.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>
            Working in this medium, does location significantly impact or
            influence your resources and materials?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span>
            Very much so given the foundation of my practice is set up around a
            waste material I discovered here. My work is all created from a
            signature blend of materials that have been locally sourced from
            factories in the UK. I have turned this resource into a secondary
            raw material through finding a second life for it.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 px-3 py-4 text-center mr-auto ml-auto">
          <h5>
            &#8216; The colours and forms in my work are continually influenced
            by one another. I first started using circular forms and corrugated
            textures after making prototypes from corrugated sheets of plastic
            and forms found in building merchants - from here I then developed
            them into my own language. &#8217;
            <span class="text-uppercase" style="white-space: nowrap">
              &#8212; CHARLOTTE KIDGER.
            </span>
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <img
            src="
                https://cdn.shopify.com/s/files/1/0266/7072/7265/files/CHARLOTTE-2A.jpg?v=1612373340
                "
            class="img-fluid"
          />
          <figcaption
            class="times small py-4"
            style="line-height: 1.2em; font-weight: 200"
          >
            <i>Charlotte</i> wears the <i>Floyd</i>.
          </figcaption>
        </div>
        <div class="col-md-6 py-4 px-3">
          <img
            src="
                https://cdn.shopify.com/s/files/1/0266/7072/7265/files/CHARLOTTE-3A.jpg?v=1612373340
                "
            class="img-fluid"
          />
          <figcaption
            class="times small py-4"
            style="line-height: 1.2em; font-weight: 200"
          >
            <i>Charlotte</i> wears the <i>Floyd</i>.
          </figcaption>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>
            Which materials do you use most often in your signature work?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span>
            There is one main material I use within all my work. Polyurethane
            foam dust, which is a type of plastic created as a by-product from
            CNC industries and is predominant in all my work. Through combining
            it with a hand-dyed resin I have created a durable, alluring a
            highly versatile new material.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>

            From where do you draw the majority of influences on color and form?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span>

            The colours and forms in my work are continually influenced by one
            another. I first started using circular forms and corrugated
            textures after making prototypes from corrugated sheets of plastic
            and forms found in building merchants - from here I then developed
            them into my own language. It was important that simplicity was
            celebrated and the forms were a way of celebrating the materials and
            highlighting their characteristics. I tend to use colours that have
            been influenced by nature, particularly the blues and greens with
            hints of Chartreuse from lichen seen on rocks.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>
            How do you conceptualize your pieces? What does your typical process
            and lead time look like? How does this differ when approaching
            commissioned work for retail and hospitality?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span>
            My process consists of creating 3D forms from layers of wood or
            plastic sheeting, mould making with Silicone and Jesmonite and then
            cold-casting with my signature blend of materials. The materials are
            cast in layers of different colours, they are then left to set
            overnight. The most exciting part of the process is de-moulding the
            next day - there is always some unexpected developments, but these
            are often the best part of the pieces. A typical lead time for a
            bespoke piece is 8-12 weeks - this is from initial sketching to
            completion. My in-house range tends to have a 4 week lead time as
            sometimes we have to source the materials and this can vary on the
            waste the factories are producing.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <img
            src="
                https://cdn.shopify.com/s/files/1/0266/7072/7265/files/ARTE-CHARLOTTE-1.jpg?v=1612373338
                "
            class="img-fluid"
          />
          <figcaption
            class="times small py-4"
            style="line-height: 1.2em; font-weight: 200"
          >
            <i>Orange Block Composition</i> by <i>Charlotte Kidger</i>.
          </figcaption>
        </div>
        <div class="col-md-6 py-4 px-3">
          <img
            src="
                https://cdn.shopify.com/s/files/1/0266/7072/7265/files/ARTE-CHARLOTTE-2.jpg?v=1612373338
                "
            class="img-fluid"
          />
          <figcaption
            class="times small py-4"
            style="line-height: 1.2em; font-weight: 200"
          >
            <i>Purple Block Composition</i> by <i>Charlotte Kidger</i>.
          </figcaption>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>
            What is the ultimate goal of your art?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span>
            I would love for my work to be part of permanent collection in a
            museum. A museum would be the ultimate goal. To have it recognised
            as telling a part of history would be amazing. It is also important
            that my work continues to sit between art and design, blurring
            boundaries of what craft can mean through my material choices and
            being part of a bigger debate around society&#8217;s industrial
            waste streams and mass production.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>
            Would you consider your work sustainable? What are some of the
            greatest misconceptions of sustainability in design?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span>

            Yes - I think my work sits within a larger conversation around
            sustainability. Through working with waste dust and finding a way to
            give it new life and application I have created an ecosystem for the
            material. I hope my work demonstrates the possibility of using new,
            but most importantly, pre-existing materials that need a second
            life, to create beautiful and thought-provoking work. Some of the
            greatest misconceptions of sustainability in design that I have had
            experience with normally come down to time and budget restrictions.
            Some brands come to me wanting to switch to more sustainable
            materials but expect things to be made quickly and with low budgets.
            This isn&#8217;t possible. Sustainability has to be introduced to
            projects in the early stages, it has to be well considered and given
            time and money and not just simply an after or last-minute thought
            to make a project or brand seem sustainable. It takes time and
            commitment to make these changes.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>

            Of other makers and sculptors in cities across the world working
            with industrial waste materials, whose work stands out as having had
            the greatest impact on you?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span>

            Fernando Mastrangelo, Jeff Martin, Faye Toogood, Max Lamb, Nick
            Ross, Dirk Vander Kooij.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>
            For those interested, which design schools across the globe would
            you say offer a substantial material design program?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span>

            Central Saint Martins Royal College of Art Eindoven These are just
            the ones I am familiar with - I am sure there are many more.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>

            What is coming up next for you?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span>
            I am in the middle of creating a limited series of vessels for a
            design agency here in London as well as having multiple
            conversations with UK and international galleries about new work. I
            am also showing new self-initiated pieces at London Design Festival
            in September and London Craft Week in October.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 px-3 py-4 text-center mr-auto ml-auto">
          <h5>
            &#8216; I would love for my work to be part of permanent collection
            in a museum. A museum would be the ultimate goal. &#8217;
            <span class="text-uppercase" style="white-space: nowrap">
              &#8212; CHARLOTTE KIDGER.
            </span>
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <img
            src="
                https://cdn.shopify.com/s/files/1/0266/7072/7265/files/CHARLOTTE-4A.jpg?v=1612373340
                "
            class="img-fluid"
          />
          <figcaption
            class="times small py-4"
            style="line-height: 1.2em; font-weight: 200"
          >
            <i>Charlotte</i> wears the <i>Floyd</i>.
          </figcaption>
        </div>
        <div class="col-md-6 py-4 px-3"></div>
      </div>

      <div class="row py-4 text-center">
        <div class="col-md-12 py-4">
          <p>
            <span class="sinergia text-uppercase">
              Dancassab Jacket of choice: </span
            ><br />
            Floyd
          </p>

          <img
            src="
                https://cdn.shopify.com/s/files/1/0266/7072/7265/products/FLOYDMORADO01.jpg?v=1609804168
"
            class="img-fluid"
          />

          <h4 class="sinergia text-uppercase">Floyd</h4>

          <p>
            <button
              type="button"
              style="
                background-color: #fff;
                border: solid;
                font-style: italic;
                border-width: 2px;
                padding: 10px 50px;
              "
              data-ripple-color="dark"
            >
              <a
                href="
                        {{ url }}"
                class="times"
              >
                Shop Here
              </a>
            </button>
          </p>
        </div>
      </div>
    </div>

    <!-- END CONTENT-->
  </div>

  <!-- End Content -->
</div>
