<div class="container-fluid">
  <app-header (myEvent)="receiveMessage($event)"></app-header>
  <app-navbar (myEvent)="receiveMessage($event)"></app-navbar>
  <app-cart></app-cart>
  <router-outlet (activate)="onActivate($event)"></router-outlet>
  <app-footer></app-footer>
</div>
<a
  href="https://www.livechatinc.com/chat-with/12308715/"
  target="_blank"
  rel="nofollow"
>
</a>

<!-- <div class="ticker-wrap">
  <div class="ticker">
    <div class="ticker__item">{{ "ticker" | translate }}</div>
    <div class="ticker__item">{{ "ticker" | translate }}</div>
    <div class="ticker__item">{{ "ticker" | translate }}</div>
    <div class="ticker__item">{{ "ticker" | translate }}</div>
  </div>
</div> -->
