<div class="row-mode">
  <!-- Start Desktop Nav -->
  <app-nav-desktop
    class="col-lg-3 col-xl-2 d-none d-md-block px-md-4"
  ></app-nav-desktop>
  <!-- End Desktop Nav -->
  <!-- Start Content -->
  <div
    class="col-lg-9 col-xl-8 text-left mt-5-mobile"
    style="font-size: 1.15rem"
  >
    <div class="row">
      <div class="col-12 py-4">
        <img
          src="https://cdn.shopify.com/s/files/1/0266/7072/7265/files/memu3.jpg?v=1605197743"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <h1 class="sinergia text-center">
          DANCASSAB <br />
          VOICES
        </h1>
      </div>
      <div class="col-md-6 py-4">
        <h1 class="sinergia text-center">
          MEMU <br />
          CONTEH
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="times">
          When days become weeks, weeks become months, and months become a year,
          it&apos;s easy to lose track of time and oneself. For some of us
          navigating uncharted territory, our natural instinct may be to protect
          and preserve. Some of that territory can be like water; it can also
          bend and shape; it can dry up and turn back into rain. For a special
          few, protection and preservation are constant pillars of strength,
          regardless of challenging times.
        </p>
        <p class="times">
          Memu Conteh, stunning beauty inside and out, radiates a curiosity,
          genuine compassion, and tenacity that is contagious. You may recognize
          her from campaigns alongside Nike, David Jones, Grazia, and Smashbox
          Cosmetics, to name a few. Less widely known are her off-duty pursuits
          advocating for social justice, mental health, and hosting her
          Quarantine Diaries podcast, which maps her journey inward during the
          global events of 2020.
        </p>
        <p class="times">
          We were fortunate to catch up with the Sierra Leonean native and
          part-time Angeleno - currently based in Australia, where she grew up -
          to deepen the conversation around her passions and beliefs. Her
          incredibly wise and touching answers demanded our own self-examination
          in the most vulnerable yet rewarding way. As she so beautifully
          shares: &quot;We&apos;re so lucky that we can tap into parts of
          ourselves to create faith, hope, love, joy and sometimes
          happiness.&quot; We are so grateful for your wisdom and generosity,
          Memu.
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <img
          src="
            https://cdn.shopify.com/s/files/1/0266/7072/7265/files/memu6.jpg?v=1605197767
            "
          class="img-fluid"
        />
        <figcaption
          class="times small font-italic py-4"
          style="line-height: 1.2em; font-weight: 200"
        ></figcaption>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 px-3 py-4 text-center mr-auto ml-auto">
        <h5>
          &lsquo;We&rsquo;re so lucky that we can tap into parts of ourselves to
          create faith, hope, love, joy and sometimes happines.&rsquo;
          <span class="text-uppercase" style="white-space: nowrap">
            &mdash; MEMU CONTEH.
          </span>
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>
          THANK YOU SO MUCH FOR BEING PART OF OUR VOICES SERIES. AS A MODEL,
          PODCAST HOST, ADVOCATE FOR SOCIAL JUSTICE AND MENTAL HEALTH, IS THERE
          ONE PARTICULAR AREA YOU FEEL MORE DRAWN TO CURRENTLY?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">MC:</span>
          I&apos;ve always been drawn to making sure there&rsquo;s fairness in
          this world. We all know this is hard to come by in our society, but
          I&rsquo;d like to think in all our little corners we&rsquo;re fighting
          for the fairest thing to help us understand each other a little
          better. So I always just do what is calling my heart and act fair in
          turn.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>
          Has modeling helped open up other opportunities for you outside of the
          industry?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">MC:</span>
          Modeling has definitely done this and has been the thing I never knew
          I needed in order to meet people from different places of the world.
          I&rsquo;m so thankful for it.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>
          Could you tell us a little about your background and how your journey
          led you to where you are now?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">MC:</span>
          I&rsquo;m originally from Sierra Leone, came to Australia as a
          refugee. I moved homes a lot while living in Australia. I&rsquo;ve
          always wanted to be a writer, so I felt like journalism was the way to
          go after high school. I did some incredible internships, but after I
          graduated, I felt like journalism was all going online and decided it
          wasn&rsquo;t what I wanted for myself at the time. I was very lucky
          while exploring what I wanted to do that I had modeling in the back of
          my mind. Friends and family would encourage me to try it out, and so
          that&rsquo;s what I did&mdash;and just trying never, ever let me down.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <img
          src="
            https://cdn.shopify.com/s/files/1/0266/7072/7265/files/79738820_3475450409163238_4610635330956212562_n.jpg?v=1605199410
            "
          class="img-fluid"
        />
        <figcaption
          class="times small py-4"
          style="line-height: 1.2em; font-weight: 200"
        >
          <i>Memu Conteh</i> on Instagram <br />
          January 3, 2020.
        </figcaption>
      </div>
      <div class="col-md-6 py-4 px-3">
        <img
          src="
            https://cdn.shopify.com/s/files/1/0266/7072/7265/files/80528066_238682017118141_1560060684090002221_n_6d5f4be7-825f-4dea-8ed9-c553a3e859ec.jpg?v=1605199730
            "
          class="img-fluid"
        />
        <figcaption
          class="times small py-4"
          style="line-height: 1.2em; font-weight: 200"
        >
          <i>Memu Conteh</i> on Instagram. &ldquo;Cheers to self improvement,
          may we all do it and see it for our well being and sanity&rdquo;
          <br />
          January 8, 2020.
        </figcaption>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>
          Being West African, are there certain values and traditions you always
          carry with you?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">MC:</span>
          I believe West Africans are vibrant people; our culture is so vast and
          widely loved by many. I think it is ingrained in us the idea of hard
          work and how much value my people put on that. With hard work comes a
          lot of blessings. To plant a seed so it grows is something I&rsquo;ve
          been taught in my Sierra Leonean family, and I have no doubt many West
          Africans would confirm this as we are taught from such a young age to
          strive for greatness.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>
          You recently shared such a great piece of wisdom on Instagram:
          &ldquo;Mums always told me, not everyone needs to know your business
          and everything that happens to you does not mean you&rsquo;re unlucky.
          It just means you can handle it, in your own unique way.&rdquo; Is
          your mom a constant source of sage advice for you?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">MC:</span>
          My mother has always been someone I&rsquo;ve looked up to. Her story
          is just so powerful, and I&rsquo;ve always made sure she knew her
          worth. Even from a young age, I needed her to know that everything she
          continued to teach me was valued and respected. Her life was and is
          very, very different from mine, so I&rsquo;ve always listened to her
          advice; it&rsquo;s always been sound, and I always want her to know
          her voice is important&#x02026;
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>
          Is there a specific moment in your life you can recall that really
          shaped or grounded you?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">MC:</span>
          I would say there have been many different moments, but right now, I
          know exactly what I want. I&rsquo;ve been able to slow down the last
          couple of months and really scratch the surface of my own questions
          and give myself answers I needed to hear.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <img
          src="
            https://cdn.shopify.com/s/files/1/0266/7072/7265/files/Memu_feed_2.jpg?v=1605200631
            "
          class="img-fluid"
        />
        <figcaption
          class="times small py-4"
          style="line-height: 1.2em; font-weight: 200"
        >
          <i>Memu Conteh</i> wears the <i>Earth</i> jacket at home in August.
          Photo captured via <i> FaceTime </i> by <i>Dana Boulos</i> for
          <i>Dan Cassab</i>.
        </figcaption>
      </div>
      <div class="col-md-6 py-4 px-3">
        <img
          src="
            https://cdn.shopify.com/s/files/1/0266/7072/7265/files/MEMU_FEED32.jpg?v=1605200640
            "
          class="img-fluid"
        />
        <figcaption
          class="times small py-4"
          style="line-height: 1.2em; font-weight: 200"
        >
          <i>Memu Conteh</i> wears the <i>Earth</i> jacket at home in August.
          Photo captured via <i> FaceTime </i> by <i>Dana Boulos</i> for
          <i>Dan Cassab</i>.
        </figcaption>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>
          How has 2020 changed your perspective on different areas of your life?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">MC:</span>
          I feel like 2020 - as weird and completely random as it&rsquo;s been -
          has definitely taught me to see a bigger picture that I had never
          wanted to see. For someone with a &ldquo;you only live once&rdquo;
          mentality, you kind of get carried away with the short term. But now I
          feel I&rsquo;m living for the long term and trying to figure out this
          little big world I&rsquo;m creating with myself and the loved ones
          around me.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>
          Your Quarantine Diaries podcast is brilliant. It highlights your inner
          dialogue and journal entries processing the events of this year, and
          covers topics of racism and mental health among others. You ask very
          poignant questions supported by well researched topics. Can you share
          a bit about how the process of this helped your personal growth and
          what sort of feedback you might have received from listeners that
          resonated?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">MC:</span>
          One thing I enjoyed was reading personal diary entries from people
          from all over the world. We all live in this little bubble in our
          heads when we are moving through the world alone. By using that
          platform, I was able to recognise that 2020 is affecting everyone
          quite seriously. It&apos;s moments like these that jog your memory of
          the web of connection we all have, without even knowing it. I was
          definitely using it as a form of escapism in terms of personal growth
          because mentally, I wasn&apos;t happy to be stuck in one place. So
          I&apos;ve realised naturally I&apos;m a free spirit who dislikes being
          told what to do. If my gut refuses something, I&apos;m going to listen
          to her instead.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>
          How have you continued this work both on and offline?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">MC:</span>
          Well, although that was a podcast, I&rsquo;m currently writing a
          poetry book to reach out to more people who might see hope through my
          poems or for them not to feel alone. I believe human beings&apos;
          power is using any art medium to connect, whether that be writing,
          painting, film, etc. We&rsquo;re so lucky that we can tap into parts
          of ourselves to create faith, hope, love, joy, and sometimes
          happiness.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <img
          src="
            https://cdn.shopify.com/s/files/1/0266/7072/7265/files/82847061_277408340346537_2168490707606935845_n_2a4a4f69-9dc7-4f1b-b9bc-602e51b2b6cf.jpg?v=1605203219
            "
          class="img-fluid"
        />
        <figcaption class="times small font-italic py-4">
          <i>Memu Conteh</i> on Instagram. <br />
          &ldquo;by me&rdquo; <br />
          July 9, 2020.
        </figcaption>
      </div>
      <div class="col-md-6 py-4 px-3">
        <img
          src="
            https://cdn.shopify.com/s/files/1/0266/7072/7265/files/117639255_3231121393613706_4398292085762479122_n.jpg?v=1605199432
            "
          class="img-fluid"
        />
        <figcaption class="times small font-italic py-4">
          <i>Memu Conteh</i> on Instagram. <br />
          &ldquo;a self portrait&rdquo; <br />
          August 9, 2020.
        </figcaption>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>
          Do you feel drawn to broadening your mental health and social justice
          advocacy work?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">MC:</span>
          Every day is mental health awareness for me personally, as I&rsquo;m
          easily emotional and can be susceptible to others&rsquo; emotions. If
          you can observe when something has triggered you, you&rsquo;re on your
          way to being an open-minded individual. And in turn, if you can
          communicate this to bring on social justice for others, then we are
          truly extending ourselves to understand our neighbours, friends, and
          family.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>
          What have you learned about yourself in the process of speaking openly
          about these issues?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">MC:</span>
          I&rsquo;ve learned that in my corner I have to make sure that every
          person that I encounter should feel valued, listened to, and
          respected.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>
          When do you feel most at peace? How do you create this for yourself?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">MC:</span>
          I feel there are two types of sounds I love. I feel most at peace near
          the ocean. I love silence, and then with the sounds of the waves
          accompanied, it&rsquo;s even better. Then, there&rsquo;s the quiet
          background noise of people laughing, sharing food, being alive and
          enjoying themselves, kids running around, and music in the background.
          I like knowing people are safe even when you&rsquo;re not related by
          birth.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>
          Are there certain causes you feel may be in need of more support right
          now?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">MC:</span>
          I feel like the world sometimes seems like a totem pole of who&apos;s
          worthy-to-least worthy, and it&apos;s crazy that there are people that
          really think like this, so I&apos;m going to say it. Black Trans lives
          are worthy, and sadly many people are caught up in their insecurities
          not to see this. If we can&apos;t treat each other kindly,
          there&apos;s no hope for any of us. If we can&apos;t see other human
          beings&apos; complexities as beautiful, what kind of beings are we?
          Most are stuck in thinking their bubbles are the only things that
          cease to exist, and only they deserve empathy. We shouldn&apos;t
          compare an already biased and unfair world.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>
          What advice would you give to anyone struggling to navigate their own
          anxieties about the future?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">MC:</span>
          Do something about it. Even if you feel what you&rsquo;re doing is
          mundane as long as it&rsquo;s calming you. A long-needed hug with a
          loved one. Yeah, I know everyone has issues, but we need to be
          vulnerable to reach each other, understand, care, and love each other.
          There is nothing wrong with how you&rsquo;re feeling. Go and buy a
          colouring book and just do that, and I hope you feel a little less
          fearful because right now doesn&rsquo;t last, and tomorrow will come,
          and you can feel how you like then, too. Do not ever feel like because
          you feel ashamed; you&rsquo;re a burden. This is entirely not true!
          You&rsquo;re going to be okay. I promise. Love you.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-4 px-3">
        <p class="sinergia text-uppercase">
          <span class="qa">DC:</span>
          What sort of legacy do you hope to leave behind?
        </p>
      </div>
      <div class="col-md-6 py-4 px-3">
        <p>
          <span class="qa">MC:</span>
          I want to leave behind an extension of my love and energy.
        </p>
      </div>
    </div>
    <!--
    <div class="row">
        <div class="col-md-12 px-3 py-4 text-center">
            <h5>

                &mdash;
                <span class="text-uppercase" style="white-space: nowrap;">

                </span>

            </h5>
        </div>
    </div>
    -->
    <div class="row py-4 text-center">
      <div class="col-md-12 py-4">
        <h4>MEMU'S SIDNEY</h4>
        <p>
          <span class="sinergia text-uppercase"> Favorite place:</span><br />
          the beach.
        </p>
        <p>
          <span class="sinergia text-uppercase"> Favorite shops:  </span><br />
          Book cafes.
        </p>
        <p>
          <span class="sinergia text-uppercase"> Favorite restaurants:  </span
          ><br />
          Any by the ocean.
        </p>
        <p>
          <span class="sinergia text-uppercase"> In your free time you: </span
          ><br />
          hike, run, write poems, watch old comedy films by Louis de Funès and
          meditate.
        </p>
        <p>
          <span class="sinergia text-uppercase">
            One secret to living in Sydney: </span
          ><br />
          The willingness to see the good in any day.
        </p>
        <p>
          <span class="sinergia text-uppercase">
            What you miss most about it when you’re gone: </span
          ><br />
          My mum and partner.
        </p>

        <p>
          <span class="sinergia text-uppercase">
            Dancassab Jacket of choice: </span
          ><br />
          EARTH
        </p>
        <img
          src="
            https://cdn.shopify.com/s/files/1/0266/7072/7265/files/EARTH_1.jpg?v=1605203023
            "
          class="img-fluid"
        />
        <h4 class="sinergia text-uppercase">EARTH</h4>
        <h4>Fall Winter 2020</h4>
        <p>
          <button
            type="button"
            style="
              background-color: #fff;
              border: solid;
              font-style: italic;
              border-width: 2px;
              padding: 10px 50px;
            "
            data-ripple-color="dark"
          >
            <a href="{{ url }}" class="times"> Shop Here </a>
          </button>
        </p>
      </div>
    </div>
  </div>

  <!-- End Content -->
</div>
