<nav
  class="navbar d-none d-md-block navbar-light shadow-0 navbar-collapse sticky-top"
>
  <ul class="navbar-nav text-uppercase">
    <li class="nav-item ml-4">
      <a href="/shop/THE ICONS">{{ "collections.the icons" | translate }}</a>
    </li>
    <li class="nav-item ml-4">
      <a href="/shop/NEWIN">{{ "collections.new in" | translate }}</a>
    </li>
    <li class="nav-item ml-4">
      <a href="/shop/JACKETS">{{
        "collections.coat and jacket" | translate
      }}</a>
    </li>
    <li class="nav-item ml-4">
      <a href="/shop/TOPS" style="white-space: nowrap">{{
        "collections.tops and tshirt" | translate
      }}</a>
    </li>
    <li class="nav-item ml-4">
      <a href="/shop/BOTTOMS" style="white-space: nowrap">{{
        "collections.bottoms" | translate
      }}</a>
    </li>
    <li class="nav-item ml-4">
      <a href="/shop/ACCESSORIES">{{ "collections.accesories" | translate }}</a>
    </li>
    <li class="nav-item ml-4">
      <a href="/shop/COLLAB">{{ "collections.collaborations" | translate }}</a>
    </li>
    <!-- <li class="nav-item ml-4">
      <a href="/shop/Fall Winter 2020">FALL WINTER 2020</a>
    </li>
    <li class="nav-item ml-4">
      <a href="/shop/Spring Summer 2020">SPRING SUMMER 2020</a>
    </li>
    <li class="nav-item ml-4">
      <a href="/shop/THE ICONS">THE ICONS</a>
    </li>
    <li class="nav-item ml-4">
      <a href="/shop/Tie Dye Capsule">TIE DYE</a>
    </li>
    <li class="nav-item ml-4">
      <a href="/shop/T-Shirts">T SHIRTS</a>
    </li> -->
    <li class="nav-item ml-4">
      <a href="/shop/SHOPALL">{{ "collections.view all" | translate }}</a>
    </li>
    <li class="nav-item mt-5">
      <a href="/voices">{{ "navbar.voices" | translate }}</a>
    </li>
    <li class="nav-item">
      <a href="/lookbook">{{ "navbar.lookbook" | translate }}</a>
    </li>
    <li class="nav-item">
      <a href="/about">{{ "navbar.about" | translate }}</a>
    </li>
    <li class="nav-item">
      <a href="/stockist">{{ "navbar.stockist" | translate }}</a>
    </li>
    <!-- <li class="nav-item">
      <a href="/subscribe">{{ "navbar.subscribe" | translate }}</a>
    </li> -->
    <li class="nav-item">
      <a href="https://instagram.com/dancassab/" target="_blank">{{
        "navbar.instagram" | translate
      }}</a>
    </li>
    <!-- <li class="nav-item">
      <a href="https://instagram.com/dancassab/" target="_blank">{{
        "navbar.contact" | translate
      }}</a>
    </li> -->
  </ul>
</nav>
<!-- THIS IS THE ONLY PLACE WHERE CONTENT CAN GO -->
