<div class="row-mode">
  <!-- Start Desktop Nav -->
  <app-nav-desktop
    class="col-lg-3 col-xl-2 d-none d-md-block px-md-4"
  ></app-nav-desktop>
  <!-- End Desktop Nav -->
  <!-- Start Content -->
  <div class="col-lg-9 col-xl-8 text-left mt-5-mobile">
    <div class="row m-md-3 text-center">
      <h3 class="sinergia text-center">DANCASSAB VOICES</h3>
      <!-- ARTICLE START -->
      <div class="col-xxl-4 col-sm-6 p-md-3">
        <a href="#">
          <div
            class="bg-image ripple container-fluid p-2"
            data-ripple-color="light"
          >
            <a href="/voices/charlotte">
              <h6 class="sinergia">
                CHARLOTTE
                <br />
                KIDGER
              </h6>
              <img
                src="
                https://cdn.shopify.com/s/files/1/0266/7072/7265/files/VOICES_PORTADA_CHARLOTTE.jpg?v=1612488420
                      "
                class="img-fluid"
              />
              <p class="p-2">READ MORE</p>
            </a>
          </div>
        </a>
      </div>
      <!-- ARTICLE END -->
      <!-- ARTICLE START -->
      <div class="col-xxl-4 col-sm-6 p-md-3">
        <a href="#">
          <div
            class="bg-image ripple container-fluid p-2"
            data-ripple-color="light"
          >
            <a href="/voices/chloe">
              <h6 class="sinergia">
                CHLOE<br />
                KING
              </h6>
              <img
                src="
                https://cdn.shopify.com/s/files/1/0266/7072/7265/articles/voices_CHLOE_800x_c4cce67b-e978-402c-a495-86b635bcdf7d_1512x.jpg?v=1611610309
                      "
                class="img-fluid"
              />
              <p class="p-2">READ MORE</p>
            </a>
          </div>
        </a>
      </div>
      <!-- ARTICLE END -->
      <!-- ARTICLE START -->
      <div class="col-xxl-4 col-sm-6 p-md-3">
        <a href="#">
          <div
            class="bg-image ripple container-fluid p-2"
            data-ripple-color="light"
          >
            <a href="/voices/hannah">
              <h6 class="sinergia text-center">HANNAH <br />PARK</h6>
              <img
                src="
                  https://cdn.shopify.com/s/files/1/0266/7072/7265/articles/voices_hannah_900x.jpg?v=1606155967
                  "
                class="img-fluid"
              />
              <p class="p-2">READ MORE</p>
            </a>
          </div>
        </a>
      </div>
      <!-- ARTICLE END -->
      <!-- ARTICLE START -->
      <div class="col-xxl-4 col-sm-6 p-md-3">
        <a href="#">
          <div
            class="bg-image ripple container-fluid p-2"
            data-ripple-color="light"
          >
            <a href="/voices/memu">
              <h6 class="sinergia">MEMU<br />CONTEH</h6>
              <img
                src="
                  https://cdn.shopify.com/s/files/1/0266/7072/7265/articles/voices_memu.jpg?v=1606155750
                  "
                class="img-fluid"
              />
              <p class="p-2">READ MORE</p>
            </a>
          </div>
        </a>
      </div>
      <!-- ARTICLE END -->
      <!-- ARTICLE START -->
      <div class="col-xxl-4 col-sm-6 p-md-3">
        <a href="#">
          <div
            class="bg-image ripple container-fluid p-2"
            data-ripple-color="light"
          >
            <a href="/voices/coromoto">
              <h6 class="sinergia">COROMOTO <br />ATENCIO</h6>
              <img
                src="
                  https://cdn.shopify.com/s/files/1/0266/7072/7265/articles/voices_coromoto.jpg?v=1606155763
                  "
                class="img-fluid"
              />
              <p class="p-2">READ MORE</p>
            </a>
          </div>
        </a>
      </div>
      <!-- ARTICLE END -->
      <!-- ARTICLE START -->
      <div class="col-xxl-4 col-sm-6 p-md-3">
        <a href="#">
          <div
            class="bg-image ripple container-fluid p-2"
            data-ripple-color="light"
          >
            <a href="/voices/courtney">
              <h6 class="sinergia">COURTNEY <br />TROP</h6>
              <img
                src="
                      https://cdn.shopify.com/s/files/1/0266/7072/7265/articles/voices_courtney.jpg?v=1606155732
                      "
                class="img-fluid"
              />
              <p class="p-2">READ MORE</p>
            </a>
          </div>
        </a>
      </div>
      <!-- ARTICLE END -->
    </div>
  </div>
  <!-- End Content -->
</div>
