<p [innerHTML]="'terms.title' | translate"></p>
<p [innerHTML]="'terms.pt1' | translate"></p>
<p [innerHTML]="'terms.pt2' | translate"></p>
<p [innerHTML]="'terms.pt3' | translate"></p>
<p [innerHTML]="'terms.p1' | translate"></p>
<p [innerHTML]="'terms.p2' | translate"></p>
<p [innerHTML]="'terms.p3' | translate"></p>
<p [innerHTML]="'terms.p4' | translate"></p>
<p [innerHTML]="'terms.p5' | translate"></p>
<p [innerHTML]="'terms.p6' | translate"></p>
<p [innerHTML]="'terms.p7' | translate"></p>
<p [innerHTML]="'terms.p8' | translate"></p>
<p [innerHTML]="'terms.p9' | translate"></p>
<p [innerHTML]="'terms.p10' | translate"></p>
<p [innerHTML]="'terms.p11' | translate"></p>
<p [innerHTML]="'terms.pb1' | translate"></p>
<p [innerHTML]="'terms.pb2' | translate"></p>
<p [innerHTML]="'terms.pb3' | translate"></p>
