<div id="fullpage">
  <section class="section full-height fp-auto-height">
    <div class="first">
      <figure class="first_container1">
        <img src="assets/images/ourstory1.jpg" alt="" />
      </figure>

      <figure class="first_container2">
        <span class="first_container2_text">{{
          "story.first" | translate
        }}</span>
        <picture>
          <source
            media="(max-width: 600px)"
            srcset="assets/images/ourstory2-mobile.jpg"
          />
          <img src="assets/images/ourstory2.jpg" alt="" />
        </picture>
      </figure>
    </div>
  </section>

  <section class="section full-height fp-auto-height">
    <div class="second">
      <figure class="second_container1">
        <img class="img-fit" src="assets/images/campaign1.jpg" alt="" />
      </figure>

      <div class="second_container2">
        <div class="story_text">
          <h2>{{ "story.second" | translate }}</h2>
          <p>{{ "story.second-p" | translate }}</p>
          <p>{{ "story.second-p2" | translate }}</p>

          <hr class="myhr" />
        </div>
      </div>
    </div>
  </section>

  <section class="section full-height fp-auto-height">
    <div class="third">
      <div class="third_container1">
        <div class="story_text pad">
          <h2>{{ "story.third" | translate }}</h2>
          <p>{{ "story.third-p" | translate }}</p>
          <p>{{ "story.third-p2" | translate }}</p>
          <hr class="myhr" />
        </div>
      </div>
      <figure class="third_container2">
        <img class="img-fit" src="assets/images/campaign2.jpg" alt="" />
      </figure>
    </div>
  </section>

  <section class="section full-height fp-auto-height">
    <div class="second">
      <figure class="second_container1">
        <img class="img-fit" src="assets/images/people.png" alt="" />
      </figure>

      <div class="second_container2">
        <div class="story_text">
          <h2>{{ "story.fourth" | translate }}</h2>
          <p>{{ "story.fourth-p" | translate }}</p>
          <p>{{ "story.fourth-p2" | translate }}</p>
          <hr class="myhr" />
        </div>
      </div>
    </div>
  </section>

  <section class="section full-height fp-auto-height">
    <div class="third">
      <div class="third_container1">
        <div class="story_text pad">
          <h2>{{ "story.fifth" | translate }}</h2>
          <p>{{ "story.fifth-p" | translate }}</p>
          <hr class="myhr" />
        </div>
      </div>
      <figure class="third_container2">
        <img class="img-fit" src="assets/images/craftmanship.jpg" alt="" />
      </figure>
    </div>
  </section>

  <section class="section full-height fp-auto-height">
    <div class="second">
      <figure class="second_container1">
        <img
          class="img-fit"
          src="assets/images/story_last.jpg"
          alt=""
          style="object-position: bottom"
        />
      </figure>

      <div class="second_container2">
        <div class="story_text">
          <h2>{{ "story.sixth" | translate }}</h2>
          <p>{{ "story.sixth-p" | translate }}</p>
          <hr class="myhr" />
        </div>
      </div>
    </div>
  </section>
</div>
