<div class="row-mode">
  <!-- Start Desktop Nav -->
  <app-nav-desktop
    class="col-lg-3 col-xl-2 d-none d-md-block px-md-4"
  ></app-nav-desktop>
  <!-- End Desktop Nav -->
  <!-- Start Content -->
  <div class="col-md-9 col-xl-8 text-left justify-items-center">
    <!-- START OF CONTENT-->

    <div class="container text-left" style="font-size: 1.25em">
      <div class="row">
        <div class="col-12 py-4">
          <img
            src="
                    https://cdn.shopify.com/s/files/1/0266/7072/7265/files/CHLOE-KING-PORTADA.jpg?v=1611594919
    "
            class="img-fluid"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <h1 class="sinergia text-center">
            DANCASSAB <br />
            VOICES
          </h1>
        </div>
        <div class="col-md-6 py-4">
          <h1 class="sinergia text-center">
            CHLOE <br />
            KING
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="times">
            Suppose you have ever caught a glimpse of Chloe King breezing
            through the streets during global fashion weeks or dispatching from
            her home office over Instagram at present. In either case, you may
            also have found yourself awed by the sheer sorcery with which she
            consistently achieves such extraordinary ensembles. Her masterfully
            concocted looks are served up in the most pleasing form of chaos, a
            marriage of mixed media prints, colors, and unexpected silhouettes
            often accompanied by a red-lipped smile. In her decade and beyond
            career, she has held coveted posts at brands and luxury retailers,
            Tibi, The Webster, and Bergdorf Goodman, where she is currently
            Fashion Office and Digital Lead and works directly with the
            legendary Linda Fargo.
          </p>
          <p class="times">
            Beyond her iconic style, Chloe comes off as a straight shooter;
            she&#x00027;s sharp, has jokes, relentless drive, and a heart the
            size of New York City. Described by her mother at an early age as a
            contrarian, it became a working title she wholeheartedly embraced
            from then on. Knowing oneself so well that it reflects outwardly in
            such an unmistakable way to others requires a supreme level of
            confidence and self-awareness. As more clearly understood now,
            Chloe&#x00027;s determination to seek and be &#x00022;other&#x00022;
            is precisely what shaped this intriguing persona that has held our
            attention in the years following her career.
          </p>
          <p class="times">
            While hard work and adaptability made the process of navigating an
            ever-changing industry more manageable and successful, it is her
            appetite for curiosity and fearlessness that prepared her for social
            justice advocacy with matched tenacity when the time came. A
            sociology major in college who studied systemic race and gender
            bias, bearing witness to American social structures that continue to
            fracture and crumble following the 2016 election, she decided that
            life, as usual, would not go on while others&#x00027; lives and
            liberties are at stake. Recognized by colleagues and peers as one
            who is unafraid of talking about race, she makes it clear where she
            stands on injustices in the industry and beyond, affirming that
            &#x00022;Any reason you have to not get involved in social justice
            (time, money, expertise) is an excuse. There are a million
            opportunities to effect change over the course of one day -
            including within yourself. Read a lot. Listen to the experts with
            lived experience. Don&#x00027;t be defensive. Sit in your
            discomfort. And the biggest: white people are responsible for every
            oppressive system in this country, so it is up to white people to
            create solutions.&#x00022;
          </p>
          <p class="times">
            While we are grateful to benefit from her wildly creative
            innovations, the countless looks so universally embraced by the
            world of fashion, for us, it is the mindful disobedience behind this
            superficial layer that we find most captivating. And perhaps it is
            that Chloe King&#x00027;s signature style is itself a sort of armor,
            not worn as protection from the outside world, but rather as a
            reminder of who she is and always has been; a champion for
            independent thought, and above all, the good.
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <img
            src="
                    https://cdn.shopify.com/s/files/1/0266/7072/7265/files/DC-CHLOE-KING-_CHLOE4DAYZ_-QUEEN-MONGOLIAN-FUR-1.jpg?v=1611594938
    "
            class="img-fluid"
          />
          <figcaption
            class="times small py-4"
            style="line-height: 1.2em; font-weight: 200"
          >
            <i>Chloe</i> wears the <i>Queen Mongolian Fur</i>. <br />
            Photo taken by <i>Caroline Owens</i> for DANCASSAB.
          </figcaption>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 px-3 py-4 text-center mr-auto ml-auto">
          <h5>
            &#x02018;Come with ideas! Big ones. The industry is in an extremely
            challenging position right now, and we need every innovator we can
            get.&#x02019;
            <span class="text-uppercase" style="white-space: nowrap">
              &#x02014; CHLOE KING.
            </span>
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>
            Can you share with us a bit about your journey from early beginnings
            and interests to where you have arrived now?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span>
            I grew up outside of Boston and was always interested in fashion,
            but went to a liberal arts school, so I received a traditional
            education. I never thought I was &#x00022;qualified&#x00022; to
            professionally participate in the Fashion universe. After playing
            soccer my whole life, my first job was in sports marketing, but to
            be honest, I spent most of my day reading the OG fashion blogs (this
            was 2010!). I realized if you have to be stuck at work all day,
            I&#x00027;d rather be doing something I loved, so I moved to New
            York City to see if I could work in fashion. I got an unpaid
            internship at a brand while working nights at a restaurant, but was
            so happy I took the risk! I was soon hired full time, and then years
            later... here I am.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>
            Are there specific people in your life &#x02013; family members,
            artists, musicians, thinkers, or otherwise &#x02013; who have played
            a significant role in shaping who you are?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span> My family for sure - there are six of
            us, and we are all quite close. They are each brilliant in their own
            ways and have been an essential support system for me as I navigate
            my life.
          </p>
          <p>
            <span class="qa"></span>Additionally, I am always drawn to
            risk-takers, art that feels a little unexpected or off. Strong
            female voices inspire me, women who challenge you to think a little
            differently: Chimamanda Adichie, Georgia O&#x00027;Keeffe, Yayoi
            Kusama, Fran Leibowitz.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>
            Your style has such a big personality, and it is so refreshing. We
            are clearly huge fans over here - what does it mean to you? Where do
            you find inspiration?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span>
            Thank you!! Style to me is very personal - if it doesn&#x00027;t
            feel &#x00022;me,&#x00022; then I generally change. My mom always
            said I was a &#x00022;contrarian&#x00022; growing up, usually
            wanting the opposite. I think this has influenced how I get dressed
            - unexpected contrasts and combinations... something always a little
            bit &#x00022;off.&#x00022; I also love to shop vintage, which is a
            constant source of inspiration.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 py-4 px-3">
          <img
            src="
                    https://cdn.shopify.com/s/files/1/0266/7072/7265/files/CHLOE-KING-PORTADA.jpg?v=1611594919
    "
            class="img-fluid"
          />
          <figcaption
            class="times small py-4"
            style="line-height: 1.2em; font-weight: 200"
          >
            <i>Chloe</i> wears the <i>Queen Mongolian Fur</i>. <br />
            Photo taken by <i>Caroline Owens</i> for DANCASSAB.
          </figcaption>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>
            You have spent years working with a suite of incredibly talented
            creatives at iconic brands and retailers like Tibi, The Webster, and
            Bergdorf Goodman. Can you share a few moments that have had the most
            significant impact on you professionally?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span>
            One of the best and most humbling moments was a shoot we did at
            Bergdorf Goodman to launch Linda Fargo&#x00027;s shop,
            &#x00027;Linda&#x00027;s.&#x00027; She invited some of her industry
            peers and collaborators to have tea and just talk fashion, and I was
            honored to be included. Listening to iconic women like Linda,
            Patricia Field, and Betty Halbreich trade stories about their lives
            and work was something I&#x00027;ll remember forever.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>
            Is there a specific moment you can recall where you feel you really
            came into your own?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span>
            Moving to New York, for sure. If there is ever a city to let our
            freak flag fly, it&#x00027;s New York. Eccentricity is encouraged!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 px-3 py-4 text-center mr-auto ml-auto">
          <h5>
            &#x02018; Moving to New York, for sure. If there is ever a city to
            let our freak flag fly, it's New York. Eccentricity is encouraged!
            &#x02019;
            <span class="text-uppercase" style="white-space: nowrap">
              &#x02014; CHLOE KING.
            </span>
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <img
            src="
                    https://cdn.shopify.com/s/files/1/0266/7072/7265/files/DC-CHLOE-KING-_CHLOE4DAYZ_-QUEEN-MONGOLIAN-FUR-1.jpg?v=1611594938
    "
            class="img-fluid"
          />
          <figcaption
            class="times small py-4"
            style="line-height: 1.2em; font-weight: 200"
          >
            <i>Chloe</i> wears the <i>Queen Mongolian Fur</i>. <br />
            Photo taken by <i>Caroline Owens</i> for DANCASSAB.
          </figcaption>
        </div>
        <div class="col-md-6 py-4 px-3">
          <img
            src="
                    https://cdn.shopify.com/s/files/1/0266/7072/7265/files/DC-CHLOE-KING-_CHLOE4DAYZ_-QUEEN-MONGOLIAN-FUR-2.jpg?v=1611594955
    "
            class="img-fluid"
          />
          <figcaption
            class="times small py-4"
            style="line-height: 1.2em; font-weight: 200"
          >
            <i>Chloe</i> wears the <i>Queen Mongolian Fur</i>. <br />
            Photo taken by <i>Caroline Owens</i> for DANCASSAB.
          </figcaption>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>
            You have been a loud voice championing social justice,
            women&#x00027;s rights, voting, racial equity, and inclusion. As an
            ally and advocate for change, where did you start?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span>
            I was a sociology major in college, studying how race and gender
            bias are baked into American infrastructure and experience from
            sports to medicine. But when did I start being actionable? I think
            the 2016 election. I realized what a lazy participant I had been in
            politics and how that white privilege had contributed to one of the
            most shameful periods of recent American history.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>
            What have been some of your biggest key learnings?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span>
            Any reason you have to not get involved in social justice (time,
            money, expertise) is an excuse. There are a million opportunities to
            effect change over the course of one day - including within
            yourself. Read a lot. Listen to the experts with lived experience.
            Don&#x00027;t be defensive. Sit in your discomfort. And the biggest:
            white people are responsible for every oppressive system in this
            country, so it is up to white people to create solutions.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>
            You are very vocal about inclusion in the workplace and call out
            injustices demanding action regularly, and basically make it
            foolproof for others to follow suit &#x02013; often sharing
            information and offering guidance if needed. What has been your
            biggest takeaway from this advocacy?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span>
            We spend a lotttt of time at work. And I, for one, don&#x00027;t
            want to spend that time in a place that perpetuates systemic racism.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <img
            src="
                    https://cdn.shopify.com/s/files/1/0266/7072/7265/files/DC-CHLOE-KING-_CHLOE4DAYZ_-QUEEN-MONGOLIAN-FUR-3.jpg?v=1611594979
    "
            class="img-fluid"
          />
          <figcaption
            class="times small py-4"
            style="line-height: 1.2em; font-weight: 200"
          >
            <i>Chloe</i> wears the <i>Queen Mongolian Fur</i>. <br />
            Photo taken by <i>Caroline Owens</i> for DANCASSAB.
          </figcaption>
        </div>
        <div class="col-md-6 py-4 px-3">
          <img
            src="
                    https://cdn.shopify.com/s/files/1/0266/7072/7265/files/DC-CHLOE-KING-_CHLOE4DAYZ_-QUEEN-MONGOLIAN-FUR-4.jpg?v=1611594993
    "
            class="img-fluid"
          />
          <figcaption
            class="times small py-4"
            style="line-height: 1.2em; font-weight: 200"
          >
            <i>Chloe</i> wears the <i>Queen Mongolian Fur</i>. <br />
            Photo taken by <i>Caroline Owens</i> for DANCASSAB.
          </figcaption>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>
            What have you learned about yourself in the process?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span>
            I can have a quick temper. When there are literal lives at stake
            with issues as urgent as police brutality, I get frustrated when
            people try to &#x00022;play devil&#x00027;s advocate.&#x00022;
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>
            What do you prioritize most when sharing your point of view?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span>
            Not centering myself. Amplifying people who are authorities in their
            field or who have experienced that struggle first hand. Believe that
            experience!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>
            There are a few excerpts from Timothy Snyder&#x00027;s book, On
            Tyranny, that came to mind after witnessing so many like yourself
            within and outside our industry use their platforms to drive
            awareness to issues and call for change: &#x00022;Life is political,
            not because the world cares about how you feel, but because the
            world reacts to what you do. [&#x02026;] In the politics of the
            everyday, our words, and gestures, or their absence, count very
            much.&#x00022; Do you feel everyone can influence those around them
            &#x02013; no matter how big or small the audience?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span>
            Absolutely! And even though it can be painful or awkward, I think
            you are more likely to shift perspective and make real change in the
            minds of people closest to you.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>
            What are some of the causes you support? Which do you feel are the
            most critically in need?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span>
            Black Lives Matter, Fair Fight Action, Know Your Rights Camp, The
            Loveland Foundation, Brooklyn Community Bail Fund, ACLU.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>
            What piece of advice would you give to anyone looking to pursue a
            career in the industry right now?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span>
            Come with ideas! Big ones. The industry is in an extremely
            challenging position right now, and we need every innovator we can
            get.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-4 px-3">
          <p class="sinergia text-uppercase">
            <span class="qa">DC:</span>
            What is coming up next for you?
          </p>
        </div>
        <div class="col-md-6 py-4 px-3">
          <p>
            <span class="qa">CK:</span>
            Who knows? 2020 taught me that you can&#x00027;t always plan. I miss
            traveling deeply and have a long list of dream destinations for my
            first trip post-pandemic - and, of course, taking suggestions.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 px-3 py-4 text-center mr-auto ml-auto">
          <h5>
            &#x02018; One of the best and most humbling moments was a shoot we
            did at Bergdorf Goodman to launch Linda Fargo&#x00027;s shop,
            &#x00027;Linda&#x00027;s.&#x00027; She invited some of her industry
            peers and collaborators to have tea and just talk fashion, and I was
            honored to be included. Listening to iconic women like Linda,
            Patricia Field, and Betty Halbreich trade stories about their lives
            and work was something I&#x00027;ll remember forever &#x02019;
            <span class="text-uppercase" style="white-space: nowrap">
              &#x02014; CHLOE KING.
            </span>
          </h5>
        </div>
      </div>

      <div class="row py-4 text-center">
        <div class="col-md-12 py-4">
          <p>
            <span class="sinergia text-uppercase">
              Dancassab Jacket of choice: </span
            ><br />
            QUEEN MONGOLIAN FUR
          </p>

          <img
            src="
                    https://cdn.shopify.com/s/files/1/0266/7072/7265/products/QUEENCAFEBLANCO01.jpg?v=1609805074
    "
            class="img-fluid"
          />

          <h4 class="sinergia text-uppercase">QUEEN MONGOLIAN FUR</h4>

          <p>
            <button
              type="button"
              style="
                background-color: #fff;
                border: solid;
                font-style: italic;
                border-width: 2px;
                padding: 10px 50px;
              "
              data-ripple-color="dark"
            >
              <a href="{{ url }}" class="times"> Shop Here </a>
            </button>
          </p>
        </div>
      </div>
    </div>

    <!-- END CONTENT-->
  </div>

  <!-- End Content -->
</div>
