<p [innerHTML]="'privacy.title' | translate"></p>
<p [innerHTML]="'privacy.para1' | translate"></p>
<p [innerHTML]="'privacy.para2' | translate"></p>
<p [innerHTML]="'privacy.para3' | translate"></p>
<p [innerHTML]="'privacy.para4' | translate"></p>
<p [innerHTML]="'privacy.para5' | translate"></p>
<p [innerHTML]="'privacy.para6' | translate"></p>
<p [innerHTML]="'privacy.para7' | translate"></p>
<p [innerHTML]="'privacy.para8' | translate"></p>
<p [innerHTML]="'privacy.para9' | translate"></p>
<p [innerHTML]="'privacy.para10' | translate"></p>
<p [innerHTML]="'privacy.para11' | translate"></p>
<p [innerHTML]="'privacy.para12' | translate"></p>
<p [innerHTML]="'privacy.para13' | translate"></p>
<p [innerHTML]="'privacy.para14' | translate"></p>
<p [innerHTML]="'privacy.para15' | translate"></p>
<p [innerHTML]="'privacy.para16' | translate"></p>
<p [innerHTML]="'privacy.para17' | translate"></p>
<p [innerHTML]="'privacy.para18' | translate"></p>
<p [innerHTML]="'privacy.para19' | translate"></p>
<p [innerHTML]="'privacy.para20' | translate"></p>
<p [innerHTML]="'privacy.para21' | translate"></p>
<p [innerHTML]="'privacy.para22' | translate"></p>
<p [innerHTML]="'privacy.para23' | translate"></p>
<p [innerHTML]="'privacy.para24' | translate"></p>
<p [innerHTML]="'privacy.para25' | translate"></p>
<p [innerHTML]="'privacy.para26' | translate"></p>
<p [innerHTML]="'privacy.para27' | translate"></p>
<p [innerHTML]="'privacy.para28' | translate"></p>
<p [innerHTML]="'privacy.para29' | translate"></p>
<p [innerHTML]="'privacy.para30' | translate"></p>
