<div class="row-mode">
  <!-- Start Desktop Nav -->
  <app-nav-desktop
    class="col-lg-3 col-xl-2 d-none d-md-block px-md-4"
  ></app-nav-desktop>
  <!-- End Desktop Nav -->

  <div class="col-md-9 col-xl-8 text-left mt-5-mobile">
    <!-- START OF CONTENT-->

    <div class="row" style="margin: auto">
      <div class="col-3 m-0 p-0">
        <img
          class="img-fluid"
          src="https://www.dancassab.com/assets/images/FW20/FW20_01.jpg"
        />
      </div>
      <div class="col-3 m-0 p-0">
        <img
          class="img-fluid"
          src="https://www.dancassab.com/assets/images/FW20/FW20_02.jpg"
        />
      </div>
      <div class="col-3 m-0 p-0">
        <img
          class="img-fluid"
          src="https://www.dancassab.com/assets/images/FW20/FW20_03.jpg"
        />
      </div>
      <div class="col-3 m-0 p-0">
        <img
          class="img-fluid"
          src="https://www.dancassab.com/assets/images/FW20/FW20_04.jpg"
        />
      </div>
      <div class="col-3 m-0 p-0">
        <img
          class="img-fluid"
          src="https://www.dancassab.com/assets/images/FW20/FW20_05.jpg"
        />
      </div>
      <div class="col-3 m-0 p-0">
        <img
          class="img-fluid"
          src="https://www.dancassab.com/assets/images/FW20/FW20_06.jpg"
        />
      </div>
      <div class="col-3 m-0 p-0">
        <img
          class="img-fluid"
          src="https://www.dancassab.com/assets/images/FW20/FW20_07.jpg"
        />
      </div>
      <div class="col-3 m-0 p-0">
        <img
          class="img-fluid"
          src="https://www.dancassab.com/assets/images/FW20/FW20_08.jpg"
        />
      </div>
      <div class="col-3 m-0 p-0">
        <img
          class="img-fluid"
          src="https://www.dancassab.com/assets/images/FW20/FW20_09.jpg"
        />
      </div>
      <div class="col-3 m-0 p-0">
        <img
          class="img-fluid"
          src="https://www.dancassab.com/assets/images/FW20/FW20_10.jpg"
        />
      </div>
      <div class="col-3 m-0 p-0">
        <img
          class="img-fluid"
          src="https://www.dancassab.com/assets/images/FW20/FW20_11.jpg"
        />
      </div>
      <div class="col-3 m-0 p-0">
        <img
          class="img-fluid"
          src="https://www.dancassab.com/assets/images/FW20/FW20_12.jpg"
        />
      </div>
      <div class="col-3 m-0 p-0">
        <img
          class="img-fluid"
          src="https://www.dancassab.com/assets/images/FW20/FW20_13.jpg"
        />
      </div>
      <div class="col-3 m-0 p-0">
        <img
          class="img-fluid"
          src="https://www.dancassab.com/assets/images/FW20/FW20_14.jpg"
        />
      </div>
      <div class="col-3 m-0 p-0">
        <img
          class="img-fluid"
          src="https://www.dancassab.com/assets/images/FW20/FW20_15.jpg"
        />
      </div>
      <div class="col-3 m-0 p-0">
        <img
          class="img-fluid"
          src="https://www.dancassab.com/assets/images/FW20/FW20_16.jpg"
        />
      </div>
    </div>

    <!-- END OF CONTENT-->
  </div>
</div>
