@font-face {
  font-family: letter-gothic-std, monospace;
  src: url(/assets/styles/LetterGothicStd.otf) format("opentype");
}

@font-face {
  font-family: Helvetica;
  src: url(/assets/styles/Helvetica.otf) format("opentype");
}

@font-face {
  font-family: Times;
  src: url(/assets/styles/Times.ttf) format("opentype");
}

@font-face {
  font-family: Sinergia;
  src: url(/assets/styles/Sinergia.otf) format("opentype");
}

@font-face {
  font-family: "helvn";
  src: url("/assets/styles/helvnew.ttf") format("opentype");
}

@font-face {
  font-family: "tnr";
  src: url("/assets/styles/tnr.ttf") format("opentype");
}
