<div class="row-mode">
  <!-- Start Desktop Nav -->
  <app-nav-desktop
    class="col-md-3 col-xl-2 d-none d-md-block px-md-4"
  ></app-nav-desktop>
  <!-- End Desktop Nav -->
  <!-- Start Content -->
  <div class="col-md-9 col-xl-8 text-left mt-5-mobile">
    <div class="row">
      <div class="col">
        <a href="/shop/NEWIN/">
          <img src="{{ bannerImg }}" class="img-fluid w-100 pt-0" />
        </a>
      </div>
    </div>
    <div
      class="d-flex py-2 px-0 mt-0 align-items-center justify-content-between"
    >
      <a
        class="nav-link pl-0"
        style="font-size: 0.8em; white-space: nowrap"
        href="{{ dianaURL }}"
        >DIANA <i class="times">COAT</i></a
      >

      <a
        class="nav-link pr-0"
        style="font-size: 0.8em; white-space: nowrap"
        href="{{ angelaURL }}"
        >ANGELA <i class="times">COAT</i></a
      >
    </div>
    <div class="row pt-2">
      <div class="col text-center nav-item">
        <p class="mb-0">"{{ "collection desc1" | translate }}"</p>
        <a class="nav-link" href="/shop/NEWIN/">{{
          "collection desc2" | translate
        }}</a>
      </div>
    </div>
    <!-- </div> -->
  </div>
  <!-- End Content -->
</div>
